

<!-- RTECH SECTION-1 ENDS -->

<!-- PRODUCT SECTION-2 STARTS -->



<div class="pricing-section-2">
  <div class="container pricing-co-2">
    <h3 class="purple-text mb-2 mb-md-5 text-center">PLANS & PRICING</h3>
    <div class="d-block d-md-flex">
      <div class="image-sec-2 text-center">
        <img class="" src="../../assets/imgs/pricing-images/pricing.webp" alt="">
      </div>
      <div class="section-2-text">
        <p class="text-p"><b>The use of Artificial intelligence in voice analysis</b> for early & accurate
          Diagnosis of
          diseases
          in the Pre illness stages is going to open up new opportunities in the existing healthcare Industry for all
          including Doctors, Paramedics and other Allied Health care workers of the Alternative Medicine fraternity, The
          Ayurvedic Practitioners and the list goes endless.
          <br>
          <br>
          We at Jv-scan utilize a unique <b>Algorithm in AI </b> to detect the presence or absence of certain Vocal
          biomarkers
          in detecting Pre-illness stage Vibrations of Different elements in the Body for diagnosis, risk prediction,
          and identifying the organs at risk.
          <br>
          <br>
          We have developed an algorithm that has been tested on a single dataset to gather the results and then on a
          second dataset to establish the results. Voice is a powerful tool to analyze changes in your body.
        </p>
      </div>
    </div>
    <p class="text-p">Our Voice Analysis reporting is unique and gives you over 12 reports along with a few Health
      scoring points with Recommendations and 6 Treatment options, so you can & your family stays Healthy .</p>
  </div>
</div>


<!-- PRODUCT SECTION-2 ENDS -->


<!-- PRICING SECTION-3 STARTS -->

<div class="pricing-section-3">
  <div class="container pricing-co-3">
    <h2 class="purple-text mb-5 text-center">Different Reportings: One Voice Scan</h2>
    <!-- <img src="./imgs/pricing-images/unknown (2).png" alt=""> -->
    <div class="row pricing-ro-3">

      <div class="col-sm-6 pricing-col-6-1">
        <ol>
          <li class="text-p">Your Personality Traits Analysis</li>
          <li class="text-p">Root Cause Analysis of your Current Health issues</li>
          <li class="text-p">The Coping Up Mechanism Analysis</li>
          <li class="text-p">Your 7 chakra Analysis</li>
          <li class="text-p">Your 5 Element Analysis</li>
          <li class="text-p">Brain wave Analysis</li>
          <li class="text-p">Disease progression Analysis</li>
          <li class="text-p">Your overall immune system Analysis</li>
          <li class="text-p">Your predictive organ risk calculation</li>
          <li class="text-p">Overall Blood Health Analysis</li>
          <li class="text-p">Overall Physical Health Analysis</li>
          <li class="text-p">DNA Health status Analysis</li>
        </ol>
      </div>
      <div class="col-sm-6 pricing-col-6-2">
        <img src="../../assets/imgs/pricing-images/ALGO.webp" alt="">
      </div>

    </div>
  </div>
</div>

<!-- PRICING SECTION-3 ENDS -->

<!-- PRICING SECTION-4 STARTS -->

<div class="pricing-section-4">
  <div class="container pricing-co-4">
    <h2 class="purple-text mb-3">​​ DIFFERENT HEALTH SCORING POINTS</h2>
    <ol>
      <li class="d-grey">Mental Health Score</li>
      <li class="d-grey">Blood Health score</li>
      <li class="d-grey">Physical Health Score</li>
      <li class="d-grey">DNA Health Score</li>
      <li class="d-grey">Overall Health Score</li>
    </ol>

  </div>
</div>

<!-- PRICING SECTION-4 ENDS -->

<!-- PRICING SECTION-5 STARTS -->

<div class="pricing-section-5">
  <div class="container pricing-co-5">

    <div style="display: flex; justify-content: space-evenly;">
      <button class="btn btn-purple" routerLink="/pricing/partner-with-us">Partner with Us</button>
      <button class="btn btn-purple" routerLink="/pricing/end-user-plan">End User Plans</button>
    </div>
  </div>
</div>


