

  <!-- <div>
    <app-log-in-or-sign-up style="position:absolute; z-index: 150;" (info)="backDropClicked($event)"
      *ngIf="LogInModalOpen">
    </app-log-in-or-sign-up>
  </div>
 -->

 <!-- <app-home-section-one></app-home-section-one> -->


<!-- <div class="home-section-1">
    <div class="container home-sec-co-1">
        <div class="row">
            <div class="col-sm-2 img-sec-1">
                <div class="img-1">
                    <img src="../../../assets/imgs/product-images/Frame.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 content-sec-1">
                <div class="content-part-1">
                    <h2 class="purple-text">
                        World's First ever Smart Health Diagnosis App In Just 30 seconds!!
                    </h2>
                    <button class="btn orange-btn" (click)="openModal()">Get Started</button>
                </div>
            </div>
            <div class="col-sm-4 img-sec-2">
                <div class="img-2">
                    <img src="../../../assets/imgs/product-images/Group2.png" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- PRODUCT SECTION-1 ENDS -->

<!-- PRODUCT SECTION-2 STARTS -->

<div class="product-section-2">
    <div class="container product-co-2">
        <div class="row product-ro-2 pb-0">
            <div class="col-sm-12 product-col-2">
                <h2 class="purple-text ml">Nutrition Diet Plans based on your Body Vibrations</h2>
                <p class="text-p">
                    <img src="../../../assets/imgs/product-images/DIET-PLANS.webp" alt="" id="img-prod-2">
                    Health care with AI in Diet & Nutrition is a New Revolutionary Approach towards Customized Diet
                    Plans based on your Voice Analysis and Organ Risk Calculation as Recommended by the Jv-Scan App.
                    Our Dieticians have Worked Hard to come up with Customized Nutritional packages for all -The
                    Diet Meant for you and as Spoken by your Own Body Through your Own Voice.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SECTION-2 ENDS -->

<!-- PRODUCT SECTION-4 STARTS -->

<div class="product-section-4">
    <div class="container product-co-4">
        <div class="row product-ro-4">
            <div class="col-sm-12 product-col-4 text-center">
                <h2 class="purple-text mb-3"> Nutrition Diet based on your Voice Analysis</h2>
                <p class="text-p">
                    Your Body is the best indicator of your Health status and it speaks to you through your Voice to
                    communicate the Deficiencies based on the Vibrations detected by Jv-scan. Our Research has led
                    the Dietitians of our Team to subdivide their Diet Plans based on Missing frequencies detected.
                </p>
            </div>
        </div>
        <div class="row product-dp-2 mb-5">
            <div class="col-sm-6 product-dp-2-1">
                <h3 class="purple-text fs">ORGAN BASED DIETS </h3>
                <img src="../../../assets/imgs/product-images/ORGAN DIETS_edited.webp" alt="">
                <button class="btn btn-purple d-block" style="background-color: #C408A2;" data-bs-toggle="modal"
                    data-bs-target="#knowMore1">Know More</button>

                <!-- Modal -->
                <div class="modal fade" id="knowMore1" tabindex="-1" aria-labelledby="knowMoreLabel1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <h5 class="modal-title purple-text" id="knowMoreLabel1">Organ Based Diets</h5>
                            <p class="text-p">For Organs at Risk</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <p class="text-p">
                                    There is a specific function for every organ in the body, but stress, food, and
                                    everyday living can compromise their effectiveness.

                                    For Instance : Arthritis is a progressive disease, its symptoms can lead to organ
                                    damage. The liver, kidneys, and intestine help your body eliminate waste and absorb
                                    nutrients. If your liver or kidneys are overloaded, waste accumulates. Toxins in the
                                    body are perceived as a threat by the immune system, causing inflammation in the
                                    body.
                                </p>
                                <p class="d-grey mb-0">THE SCIENCE BEHIND </p>
                                <p class="text-p">
                                    The Human Body is represented by Vibrations which are defined as Frequencies and
                                    Measured in HERTZ
                                    Each organ has an operating frequency, and the unique algorithm of Jv-scan can
                                    detect these Frequencies even at the quantum level.

                                    Integrating Nutrition Diet plans for the First Time based on the
                                    detection/evaluation of missing Frequencies in your Body at the Organ level.

                                    If the Vibrations of an Organ or a System are as weak as the Normal Vibrations, the
                                    algorithm picks up those and recommends Diet plans to strengthen the affected Organs
                                    or Systems with Vitamins, Amino Acids, and other elements that are required for the
                                    Proper Functioning of that Organ/Organs.
                                </p>
                                <p class="d-grey mb-0">BENEFITS</p>
                                <p class="text-p">
                                    Customized Organ based Diet Plans

                                    Bulls Eye Effect Action

                                    Brings a state of harmony with replenishment of frequencies in the form of Diet and
                                    Nutrition

                                    Brings the organ in a balanced state by replenishing the Missing Diet Elements

                                    Creating a state of Balance at Mind, Blood, Body
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 product-dp-2-1">
                <h3 class="purple-text fs">CHAKRA BASED DIETS</h3>
                <img src="../../../assets/imgs/product-images/chakra.webp" alt="">
                <button class="btn btn-purple d-block" style="background-color: #C408A2;" data-bs-toggle="modal"
                    data-bs-target="#knowMore2">Know More</button>

                <!-- Modal -->
                <div class="modal fade" id="knowMore2" tabindex="-1" aria-labelledby="knowMoreLabel2"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <h5 class="modal-title purple-text" id="knowMoreLabel2">CHAKRA BASED DIETS</h5>
                            <p class="text-p">To Strengthen your Each Chakra Separately</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <p class="text-p">
                                    Chakras are circular centers of energy responsible for the sustenance of life.
                                    They act as both receivers and transmitters of energy and are connected to the human
                                    mind at the quantum level and are therefore the points of disease creation when
                                    imbalanced.
                                    <br>
                                    <br>
                                    Our body has seven main chakras – where the main glands are located from head to toe
                                    – and seven primary colors. Each chakra in the body is interconnected to the others,
                                    and the health of each is reflected in the health of the others. Add certain foods
                                    to your diet, and use certain colors in your environment and appearance to achieve
                                    overall healthy living.
                                    <br> <br>
                                    The Human Body has 7 Major chakras and 22,000 Minor Chakras on each side of the body

                                    Each Chakra is shaped like a flower and has a particular number of petals that
                                    resonate at a particular frequency range to transmit energy from the mind into the
                                    body and thus responsible for the flow of energy called life.

                                    Types of plans

                                    we offer 7 types of Diet plans Namely:
                                </p>
                                <ul>
                                    <li>Root Chakra diet Plan</li>
                                    <li>Sacral Chakra Diet Plan</li>
                                    <li>Solar Plexus Chakra Diet Plan</li>
                                    <li>Heart Chakra Diet Plan</li>
                                    <li>Throat Chakra Diet Plan</li>
                                    <li>Brow Chakra Diet Plan</li>
                                    <li>Crown Chakra Diet Plan</li>
                                </ul>
                                <p class="d-grey mb-0">HOW IT WORKS? </p>
                                <p class="text-p">
                                    As worked out by our expert Dieticians, the Diet plans contain precisely the
                                    Nutrients required by each Chakra for their Normal Functioning at the Quantum level.

                                    As recommended by Jv-Scan Algorithm, one can plan a diet plan to Realign their
                                    Chakras and thus Create oneness in Consciousness at the Quantum level for the Body
                                    to Heal

                                    Related products
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-dp-2">
            <div class="col-sm-6 product-dp-2-1">
                <h3 class="purple-text fs">EMOTION BASED DIETS </h3>
                <img src="../../../assets/imgs/product-images/EMOTIONS.webp" alt="">
                <button class="btn btn-purple d-block" style="background-color: #C408A2;" data-bs-toggle="modal"
                    data-bs-target="#knowMore3">Know More</button>

                <!-- Modal -->
                <div class="modal fade" id="knowMore3" tabindex="-1" aria-labelledby="knowMoreLabel3"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <h5 class="modal-title purple-text" id="knowMoreLabel3">Emotion BASED DIETS</h5>
                            <p class="text-p">For Depression or any negative emotional states</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <p class="text-p">

                                    Emotional eating involves using food as a way to feel better rather than to fill
                                    your stomach. But emotional eating does little to help solve emotional problems. In
                                    most cases, it makes things worse. A well-researched diet after identifying real
                                    problem works effectively and brings calmness.
                                </p>
                                <p class="d-grey mb-0">Types of plans</p>
                                <p class="text-p">
                                    Our Dieticians have come up with special Diet plans based on your emotional states.
                                    <br>
                                    These are:
                                </p>
                                <ul>
                                    <li>Diet Plans for Stress</li>
                                    <li>Diet Plans for Anxiety</li>
                                    <li>Diet Plans for Depression</li>
                                    <li>Diet Plans for Anger issues </li>
                                    <li>Diet Plans for Grief</li>
                                </ul>
                                <p class="d-grey mb-0">HOW THEY WORK ?</p>
                                <p class="text-p">
                                    The Unique Algorithm of <b>Jv-Scan</b> Identifies these Emotions when u record your
                                    voice
                                    for just 30 seconds.
                                    Each emotion passes through various stages in the mind to spill into the blood to
                                    bring about Dietary deficiencies which further lead to ill health at the level of
                                    the Body
                                    Balancing your Mind Body soul with the nutrients identified by <b>Jv-Scan
                                        Algorithm</b> is
                                    the key here.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 product-dp-2-1">
                <h3 class="purple-text fs">ISSUE BASED DIETS</h3>
                <img src="../../../assets/imgs/product-images/5277_edited.webp" alt="">
                <button class="btn btn-purple d-block" style="background-color: #C408A2;" data-bs-toggle="modal"
                    data-bs-target="#knowMore4">Know More</button>

                <!-- Modal -->
                <div class="modal fade" id="knowMore4" tabindex="-1" aria-labelledby="knowMoreLabel4"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <h5 class="modal-title purple-text" id="knowMoreLabel4">ISSUE BASED DIETS</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <p class="text-p">

                                    The human body requires a broad range of nutrients to maintain health and vitality.
                                    Good nutrition or eating in accordance with the body’s nutritional needs is
                                    essential to providing these nutrients. The cornerstone of good health is a balanced
                                    diet and regular exercise. Nutritional deficiencies can result in weakened immunity,
                                    increased susceptibility to disease, impairments of physical and mental development,
                                    and decreased productivity. <br> <br>
                                    While a Disease Progresses from the Mind into the body, certain repetitive behavior
                                    patterns are created, which the person holds for a long time unless a timely
                                    intervention is made effective. <br>
                                    These Issues can be many, and we at Jv-Scan Address them differently through Diet
                                    plans.
                                </p>
                                <p class="d-grey mb-0">What are Issue-based Plans?</p>
                                <p class="text-p">
                                    Weight loss Diet <br>
                                    Hair Growth Diet <br>
                                    Energy Boost Diet <br>
                                    Anti Aging Diet
                                </p>
                                <p class="d-grey mb-0">HOW THEY WORK ?</p>
                                <p class="text-p">
                                    The Jv-Scan Algorithm detects not only these behavioral patterns but also other
                                    factors responsible and creates a database for each starting from Root cause to its
                                    further progression with deficiencies of
                                </p>
                                <ul>
                                    <li>Neurotransmitters</li>
                                    <li>Hormones</li>
                                    <li>Amino acids</li>
                                    <li>Vitamins etc </li>
                                </ul>
                                <br>
                                <p class="text-p">
                                    To Formulate a Diet plan which is customized and replaces all Elements as described
                                    to give you freedom from the Issue if used Regularly.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SECTION-4 ENDS -->



<!-- PRODUCT SECTION-6 STARTS -->

<!-- <div class="product-section-6">
    <div class="container product-co-6">
        <div class="row product-ro-6">
            <div class="col-sm-6 product-col-6-1">
                <img src="../../../assets/imgs/product-images/Group 75.png" alt="">
            </div>
            <div class="col-sm-6 product-col-6-2">
                <h2 class="purple-text fs-42 mb-5">Download the App Now!!</h2>
                <img src="../../../assets/imgs/Button (1).png" alt="">
                <img src="../../../assets/imgs/Button.png" alt="">
            </div>
        </div>
    </div>
</div> -->
