<div class="rtech-section-1">
  <div class="container rtech-co-1">
      <div class="row rtech-ro-1">
          <div class="col-sm-3 rtech-col-1-1">
              <img src="../../assets/imgs/RTech/unknown (2).png" alt="">
          </div>
          <div class="col-sm-5 rtech-col-1-2 text-center">
              <h4 class="purple-text">World's First ever Smart Health Diagnosis App In Just 30 seconds!! </h4>
              <button class="btn orange-btn">Get Started</button>
          </div>
          <div class="col-sm-4 rtech-col-1-3">
              <img src="../../assets/imgs/RTech/unknown.png" alt="">
          </div>
      </div>
  </div>
</div>


 <!-- ABOUT-US SECTION-2 STARTS -->

 <div class="about-section-2">
    <div class="container about-co-2">
        <div class="row about-ro-2">
            <div class="col-sm-6 about-col-2-1">
                <h2 class="purple-text">Become a Franchise/Practitioner </h2>
                <p class="text-p">
                    <img src="../../assets/imgs/pexels-sinitta-leunen-11860376.jpg" alt="" class="square-img"
                        id="sec-2-hidden-img">
                    Founded in 2013, Jv-Scan is an AI-Based home based healthcare Diagnostic Tool that helps in
                    mapping the mental & physical health issues.
                    Jv-Scan has been Advocating Preventive Health care since 2008 and in process of providing
                    “disease-free life”, Dr. Mahesh Hukmani invented an AI-Backed Health-tech app that is utilized
                    as a New Diagnosis tool for Detecting Missing Frequencies in the Body that are responsible for
                    Creating Stress initially and Sickness Later.
                    The New Diagnosis tool Follows W H O Guidelines laid down in 1984 Geneva convention.
                </p>

            </div>
            <div class="col-sm-6 about-col-2-2">
                <img src="../../assets/imgs/pexels-sinitta-leunen-11860376.jpg" class="square-img" alt="">
            </div>
        </div>
    </div>
</div>

<!-- ABOUT-US SECTION-2 ENDS -->


  <!-- WORKSHOP-D SECTION-6 STARTS -->

  <div class="workshop-d-section-6">
    <div class="container workshop-d-co-6">
        <div class="row workshop-d-ro-6">
            <div class="col-sm-12 workshop-d-col-6">
                <form class="row g-3 workshop-form practitioner-form">
                    <h3 class="black-text text-center mb-3">Fill the form to Register</h3>
                    <div class="col-12">
                        <input type="text" class="mb-3 form-control" id="inputfirst"
                            placeholder="Full Name of the Doctor">
                    </div>
                    <div class="col-12">
                        <input type="text" class="mb-3 form-control" id="inputLast" placeholder="Hospital Name">
                    </div>
                    <div class="col-12">
                        <input type="text" class="mb-3 form-control" id="inputNumber" placeholder="Mobile Number">
                    </div>
                    <div class="col-12">
                        <input type="text" class="mb-3 form-control" id="inputCode" placeholder="Address">
                    </div>
                    <div class="col-md-4 mt-0">
                        <input type="text" class=" mb-3 form-control" id="inputEmail" placeholder="City">
                    </div>
                    <div class="col-md-4 mt-0">
                        <input type="text" class=" mb-3 form-control" id="inputEmail" placeholder="District">
                    </div>
                    <div class="col-md-4 mt-0">
                        <input type="text" class=" mb-3 form-control" id="inputEmail" placeholder="Pin Code">
                    </div>
                    <div class="col-12">
                        <input type="text" class=" mb-3 form-control" id="inputEmail" placeholder="Country">
                    </div>
                    <div class="col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                By signing up, I agree to the Terms and Conditions and Privacy Policy
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex mt-3 btns" style="justify-content: space-between;">
                            <button type="button" class="fee-btn">Fee: ₹50,000</button>
                            <button type="submit" class="btn btn-purple"
                                style="background-color: #C408A2;">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- WORKSHOP-D SECTION-6 ENDS -->

 <!-- WORKSHOP-D SECTION-4 STARTS -->

 <div class="workshop-d-section-4">
  <div class="container workshop-d-co-4">
      <h2 class="purple-text text-center mb-5">Topics to be covered in Workshop</h2>
      <div class="row workshop-d-ro-4 mb-3">
          <div class="col-sm-4 workshop-d-col-4">
              <div>
                  <img src="../../assets/imgs/workshop-images/ic_baseline-health-and-safety.png" alt="">
              </div>
              <p class="black-p">
                  Digital Healthcare
                  Industry
              </p>
          </div>
          <div class="col-sm-4 workshop-d-col-4">
              <div>
                  <img src="../../assets/imgs/workshop-images/ri_user-voice-fill.png" alt="">
              </div>
              <p class="black-p">
                  The Role of Voice
                  Analysis as a New Diagnostic in Healthcare Programme
              </p>
          </div>
          <div class="col-sm-4 workshop-d-col-4">
              <div>
                  <img src="../../assets/imgs/workshop-images/jam_first-aid-f.png" alt="">
              </div>
              <p class="black-p">
                  AI in Healthcare-Voice
                  Analysis The Future of
                  Medicine
              </p>
          </div>
      </div>
      <div class="row workshop-d-ro-4">
          <div class="col-sm-4 workshop-d-col-4">
              <div>
                  <img src="../../assets/imgs/workshop-images/icon-park_market-analysis.png" alt="">
              </div>
              <p class="black-p">
                  Voice Analysis Parameters
              </p>
          </div>
          <div class="col-sm-4 workshop-d-col-4">
              <div>
                  <img src="../../assets/imgs/workshop-images/ri_chat-voice-fill.png" alt="">
              </div>
              <p class="black-p">
                  Voice Analysis:
                  Interpretation
              </p>
          </div>
          <div class="col-sm-4 workshop-d-col-4">
              <div>
                  <img src="../../assets/imgs/workshop-images/game-icons_lightning-frequency.png" alt="">
              </div>
              <p class="black-p">
                  All About Body
                  Frequencies
              </p>
          </div>
      </div>
  </div>
</div>

<!-- WORKSHOP-D SECTION-4 ENDS -->

<!-- PRACTITIONER SECTION-5 STARTS -->

<div class="practitioner-section-5">
    <div class="container pract-co-5">
        <h2 class="purple-text mb-3 text-center">International Packages </h2>
        <div class="card pract-card-5">
            <table class="table table-bordered table-responsive">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Bronze Package</th>
                    <th scope="col">Silver Package</th>
                    <th scope="col">Gold Package</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Reporting-</td>
                    <td>100</td>
                    <td>300</td>
                    <td>500</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Pins</td>
                    <td>3 Per therapy</td>
                    <td>3 Per therapy</td>
                    <td>3 Per therapy</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Total Pins</td>
                    <td>300</td>
                    <td>900</td>
                    <td>1500</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Price in USD</td>
                    <td>USD 40 per
                        therapy</td>
                    <td>50 per Therapy</td>
                    <td>50 per Therapy</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Total Therapies
                        /Person</td>
                    <td>03</td>
                    <td>03</td>
                    <td>03</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Price/Person in
                        USD</td>
                    <td>USD 150</td>
                    <td>USD 150</td>
                    <td>USD 150</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Discounted</td>
                    <td>USD 100/3
                        Therapies</td>
                    <td>USD 100/3
                        Therapies</td>
                    <td>USD 100/3
                        Therapies</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Total in USD</td>
                    <td>10,000</td>
                    <td>10,000</td>
                    <td>10,000</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<!-- PRACTITIONER SECTION-5 ENDS -->
