<div class="home-section-4">
  <div class="container sec-4-co">
    <h1 class="purple-text" id="hidden-1">Your Home Based Diagnosis App </h1>
    <div class="row">
      <div class="col-sm-6 sec-4-col-1">
        <h1 class="purple-text" id="hidden-2">Your Home Based Diagnosis App </h1>
        <p class="text-p">
          Our Researchers and Doctors have developed an AI-Enabled App that scans full body in 30 seconds
          and provides analysis on health issues after studying diverse data sets, using computation
          methodologies, and other assessment criteria and health standards.
        </p>
      </div>
      <div class="col-sm-6 sec-4-col-2">
        <div class="img-sec-4">
          <img src="../../../assets/imgs/imageedit_4_3004837031.webp" alt="" class="img-4-1" width="354" height="313">
        </div>
      </div>
    </div>
    <div class="playstore-btn">
      <a href="{{ appLink1?.Url }}" class="a-1">
        <img src="../../../assets/imgs/Button-_1_.webp" alt="" width="329" height="77">
      </a>
      <a href="{{ appLink1?.Url }}">
        <img src="../../../assets/imgs/Button.webp" alt="" width="329" height="77">
      </a>
    </div>
  </div>
</div>
