<div class="home-section-3">
    <div class="container sec-co-3">
        <h1 class="purple-text">Revolutionizing the Diagnosis <br> of Health Issues </h1>
        <div class="row">
            <!-- <div class="col-sm-4 sec-3-col sec-3-1" *ngFor="let item of diagnosticsItems">
              <span class="d-grey">{{ item.Title }}</span>
              <p class="text-p">{{ item.Description }}</p>
              <img class="imageThirdSec" src="{{ apiUrl + item.Image }}" alt="" height="150" width="212">
          </div> -->
            <div class="col-sm-4 sec-3-col sec-3-1">
                <span class="d-grey">Using AI Algorithm</span>
                <p class="text-p">The Analysis detects Subtle Energetic imbalances in the Body using a unique Voice
                    Analysis Agorithm</p>
                <img class="imageThirdSec" src="../../../assets/imgs/ML_edited.webp" alt="" height="150" width="212">
            </div>
            <div class="col-sm-4 sec-3-col sec-3-1">
                <span class="d-grey">Voice Biomarker Technology</span>
                <p class="text-p">Detecting 500 Plus Vocal Biomarkers with 97% accuracy </p>
                <img class="imageThirdSec" src="../../../assets/imgs/voice biomarker.webp" alt="" height="150" width="212">
            </div>
            <div class="col-sm-4 sec-3-col sec-3-1">
                <span class="d-grey">Real time Health Assessment </span>
                <p class="text-p">One can access and afford immediate full body scan Home /Office/anywhere </p>
                <img class="imageThirdSec" src="../../../assets/imgs/root-cause_edited_edited.webp" alt="" height="150" width="212">
            </div>
        </div>
    </div>
</div>