<div class="wishlist">
  <div class="container">
    <h2 class="purple-text mb-5">My Wishlist</h2>
    <div class="" *ngIf="wishlistList?.length<=0">
      <h1 class="mt-5">Oops!! There are no items in your wishlist <br>
        Add items you want to shop
      </h1>
      <a class="btn btn-purple mt-3" type="button" href="/our-products/DY-product/1">Shop Now</a>
    </div>
    <div class="row" *ngIf="wishlistList?.length>0">
      <div class="col-sm-3 product-d-col-2" *ngFor="let product of wishlistList">
        <div>
          <a href="/product-page/{{product.category}}/{{product.id}}" style="text-decoration: none;">
          <img src='{{ apiUrl + product.image }}' alt="" class="d-block">
          <span class="purple-t d-block">{{ product?.name }}</span>
        </a>
          <div class="d-flex jsb">
            <s class="purple-t" style="font-size: 15px;" *ngIf="product?.discount">₹{{product.price}}
            </s>
            <sup *ngIf="product?.discount">{{product?.discount}}% OFF</sup>
            <span class="purple-text">
              ₹{{ product?.discount != 0 ? product?.price -
              (product?.discount * product?.price)
              /100: product.price }}</span>
            <span class="text-p" *ngIf="product?.discount == 0">Fixed price</span>
            <div class="d-flex" style="cursor: pointer;">
              <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!wishListLocal[product?.id]"
                (click)="sendToWishList(product)" width="20" fill="currentColor"
                class="bi bi-suit-heart-fill heart me-3" viewBox="0 0 16 16">
                <path
                  d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" *ngIf="wishListLocal[product?.id]" (click)="removeProd(product)"
                width="20" fill="currentColor" class="bi bi-suit-heart-fill heart me-3" style="color: #c408a2;"
                viewBox="0 0 16 16">
                <path
                  d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
              </svg>


              <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" *ngIf="!cartListLocal[product.id]"
                width="20" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"
                (click)="sendToCart(product)">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" *ngIf="cartListLocal[product.id]" width="20"
                (click)="removeItemFromCart(product)" fill="currentColor" class="bi bi-cart-fill"
                style="color: #c408a2; cursor: pointer" viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
