<div class="events">
  <div class="container">
    <h2 class="purple-text my-sm-2 my-md-4 text-center">
      THE PRESS CONFERENCE-NOV 8th 2022
    </h2>

    <div class="EventsImage">
      <div class="row justify-content-between my-sm-5">
        <img class="col-4 eventImage" src="../../assets/imgs/EVENTS/11.webp" alt="" srcset="">
        <img class="col-4 eventImage" src="../../assets/imgs/EVENTS/10.webp" alt="" srcset="">
        <img class="col-4 eventImage" src="../../assets/imgs/EVENTS/5.webp" alt="" srcset="">
      </div>

      <div class="row">
        <img class="col-4" src="../../assets/imgs/EVENTS/dcc7af_b1ae936884e447da9c69a464882cd0a4_mv2.webp" alt=""
          srcset="">
        <img class="col-8" src="../../assets/imgs/EVENTS/dcc7af_73b38ed1043d4750a6d473e88210d79b_mv2.webp" alt=""
          srcset="">
      </div>
    </div>

    <div class="links py-sm-3 py-md-3">
      <h2 class="purple-text">SOME LINKS</h2>
      <a style="color: black;"
        href="http://www.face2news.com/news/83767-detect-changes-in-your-health-through-your-voice.aspx">http://www.face2news.com/news/83767-detect-changes-in-your-health-through-your-voice.aspx</a>
      <br>
      <br>
      <a style="color: black;"
        href="http://www.face2news.com/hindi/news/83768-detect-changes-in-your-health-through-your-voice.aspx">http://www.face2news.com/hindi/news/83768-detect-changes-in-your-health-through-your-voice.aspx</a>
      <br>
      <br>
      <a style="color: black;"
        href="https://avajapkinews.com/you-can-detect-changes-in-your-health-through-your-voice/">https://avajapkinews.com/you-can-detect-changes-in-your-health-through-your-voice/</a>
      <br>
      <br>
      <a style="color: black;"
        href="https://demokraticfront.com/2022/11/08/detect-health-changes-with-your-voice/">https://demokraticfront.com/2022/11/08/detect-health-changes-with-your-voice/</a>
      <br>
      <br>
      <a style="color: black;"
        href="https://point2pointnews.com/detect-changes-in-your-health-through-your-voice/">https://point2pointnews.com/detect-changes-in-your-health-through-your-voice/</a>
    </div>
  </div>
</div>
