<!-- <div>
  <app-log-in-or-sign-up style="position:absolute; z-index: 150;" (info)="backDropClicked($event)"
    *ngIf="LogInModalOpen">
  </app-log-in-or-sign-up>
</div> -->


<!-- <app-home-section-one></app-home-section-one> -->



<!-- <div class="home-section-1">
  <div class="container home-sec-co-1">
    <div class="row">
      <div class="col-sm-2 img-sec-1">
        <div class="img-1">
          <img src="../../assets/imgs/product-images/Frame.png" alt="">
        </div>
      </div>
      <div class="col-sm-6 content-sec-1">
        <div class="content-part-1">
          <h2 class="purple-text">
            World's First ever Smart Health Diagnosis App In Just 30 seconds!!
          </h2>
          <button class="btn orange-btn" (click)="openModal()">Get Started</button>
        </div>
      </div>
      <div class="col-sm-4 img-sec-2">
        <div class="img-2">
          <img src="../../assets/imgs/product-images/Group2.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-workshop-access-menu></app-workshop-access-menu>
<router-outlet></router-outlet>
