<div class="terms-and-co">
  <div class="container">
    <div class="heading">
      <h2 class="purple-text mb-4">Terms of Services</h2>
      <p class="">Welcome, and thank you for your interest in Jvscan.com. (“Jvscan,” “we,” or “us”) and our website at
        www.jvscan.com, along with our related websites, networks, applications, mobile applications, and other services
        provided by us (collectively, the “Service”). These Terms of Service constitute a legally binding contract
        between
        you and Jvscan regarding your visit, download or use of the Service.</p>
    </div>
    <div class="heading">
      <h4 class="purple-text pb-3" style="font-size: 20px;">
        PLEASE READ THE FOLLOWING TERMS CAREFULLY.
      </h4>
      <p>By clicking “i accept,” or otherwise accessing or using the service, you agree that you have read and
        understood, and, as a condition to your use of the service, you irrevocably agree to be bound by, the following
        terms and conditions (together, these “terms”). If you are not eligible, or do not agree to the terms, then you
        do not have our permission to use the service. Your use of the service, and jvscan’s provision of the service to
        you, constitutes an agreement by jvscan and by you to be bound by these terms.
        <br>
        <br>
        Arbitration NOTICE. Except for certain kinds of disputes described in Section 15, you agree that disputes
        arising under these Terms will be resolved by binding, individual arbitration, and BY ACCEPTING THESE TERMS, YOU
        AND JVSCAN ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN ANY CLASS ACTION OR REPRESENTATIVE
        PROCEEDING. YOU AGREE TO GIVE UP YOUR RIGHT TO GO TO COURT to assert or defend your rights under this contract
        (except for matters that may be taken to small claims court). Your rights will be determined by a NEUTRAL
        ARBITRATOR and NOT a judge or jury. (See Section 15.)
      </p>
    </div>
    <div class="heading">
      <ol class="pointer">
        <li><b>Jvscan Service Overview.</b> Our Service uses voice-based technologies that analyze voice samples in
          certain
          ways and provides you with related information.</li>
        <li><b>Eligibility.</b> You must be at least 18 years old to use the Service. By agreeing to these Terms, you
          represent
          and warrant to us that: (a) you are at least 18 years old; (b) you have not previously been suspended or
          removed from the Service; and (c) your registration and your use of the Service and/or your volunteering for
          research activities conducted by Jvscan is in compliance with any and all applicable laws and regulations.
        </li>
        <li><b>Accounts and Registration.</b>
          <ol>
            <li>To access certain features of the Service, you must register for an account. When you register for an
              account, you may
              be required to provide us with some information about yourself. You agree that the information you provide
              to us is
              accurate and that you will keep it accurate and up-to-date at all times. When you register, you will be
              asked to provide
              a password. You are solely responsible for maintaining the confidentiality of your account and password,
              and you accept
              responsibility for all activities that occur under your account. If you believe that your account is no
              longer secure,
              then you must immediately change your password and notify us at support@Jvscan.com.</li>
            <li>
              In case you volunteer to participate in any research activity and/or project of Jvscan, you may be
              required to provide
              certain information to Jvscan about yourself and will also gain access to certain features of the Service.
              You agree
              that the information you provide to us is accurate and that you will keep it accurate and up-to-date at
              all times. You
              further agree to abide by these Terms at all times along with the other terms and conditions applicable to
              you.
            </li>
          </ol>
        </li>
        <li><b>Licenses</b>
          <ol>
            <li>Limited License. Subject to your complete and ongoing compliance with these Terms, Jvscan grants you,
              solely for your personal, non-commercial use, a limited, non-exclusive, non-transferable,
              non-sublicensable, revocable license to access and use the Service.</li>
            <li>License Restrictions. Except and solely to the extent such a restriction is impermissible under
              applicable law, you will not:
              <ol type="a">
                <li>reproduce, distribute, publicly display, or publicly perform the Service</li>
                <li>make modifications to the Service; or </li>
                <li>interfere with or circumvent any feature of the Service, including any security or access control
                  mechanism. If you are prohibited under applicable law from using the Service, you will not use it.
                </li>
              </ol>
            </li>
            <li>Feedback. If you choose to provide input and suggestions regarding your experience using or impressions
              regarding, or proposed modifications or improvements to, the Service (“Feedback”), then you hereby grant
              Jvscan an unrestricted, perpetual, irrevocable, non-exclusive, fully-paid, royalty-free right to exploit
              the Feedback in any manner and for any purpose, including to improve the Service and create other products
              and services, subject to any limitations on such use we may set forth in our Privacy Policy.</li>
          </ol>
        </li>
        <li><b>Ownership; Proprietary Rights.</b> The Service is owned and operated by Jvscan. The visual interfaces,
          graphics, design,
          compilation, information, data, computer code (including source code or object code), products, software,
          services, and
          all other elements of the Service (“Materials”) provided by are protected by Jvscan intellectual property and
          other
          laws. All Materials included in the Service are the property of Jvscan or its third party licensors. Except as
          expressly
          authorized by Jvscan, you will not make use of the Materials. Jvscan reserves all rights to the Materials not
          granted
          expressly in these Terms.
        </li>
        <li><b>Third Party Terms</b>
          <ol>
            <li>Third Party Services and Linked Websites. Jvscan may provide tools through the Service that enable you
              to transmit
              information, including User Content (as defined in Section 7.1), to or through third party services. By
              using one of
              these tools, you agree that Jvscan may transfer that information to or through the applicable third party
              service. Third
              party services are not under Jvscan’s control, and, to the fullest extent permitted by law, Jvscan is not
              responsible
              for any third party service’s use of your exported information. The Service may also contain links to
              third party
              websites. Linked websites are not under Jvscan’s control, and Jvscan is not responsible for their content.
            </li>
            <li>Third Party Software. The Service may include or incorporate third party software components that are
              generally
              available free of charge under licenses granting recipients broad rights to copy, modify, and distribute
              those
              components (“Third Party Components”). Although the Service is provided to you subject to these Terms,
              nothing in these
              Terms prevents, restricts, or is intended to prevent or restrict you from obtaining Third Party Components
              under the
              applicable third party licenses or to limit your use of Third Party Components under those third party
              licenses. -->
            </li>
          </ol>
        </li>
        <li><b>User Content</b>
          <ol>
            <li>
              User Content Generally. Certain features of the Service may permit users to transmit content to the
              Service, including any voice samples, responses to questionnaires that we provide to you, images, text,
              and other types of works (“User Content”). You retain any copyright and other proprietary rights that you
              may hold in the User Content that you transmit to the Service.
            </li>
            <li>
              Limited License Grant to Jvscan. By transmitting User Content to or via the Service, you grant Jvscan a
              non-exclusive, perpetual, irrevocable, transferable, sublicensable (through various tiers), royalty-free
              and worldwide right and license, to the fullest extent permitted by law, to use, host, store, reproduce,
              create derivative works of, transfer, display, perform, modify, and distribute your User Content, in whole
              or in part, in any media formats and through any media channels now known or hereafter developed, subject
              to any limitations on such use we may set forth in our Privacy Policy.
            </li>
            <li>
              User Content Representations and Warranties. Jvscan disclaims any and all liability in connection with
              User Content. You are solely responsible for your User Content and the consequences of providing User
              Content via the Service. By providing User Content via the Service, you affirm, represent, and warrant
              that:
              you are the creator and owner of the User Content, or have the necessary licenses, rights, consents, and
              permissions to authorize Jvscan to use and distribute your User Content as necessary to exercise the
              licenses granted by you in this Section, in the manner contemplated by Jvscan, the Service, and these
              Terms;
              your User Content, and the use of your User Content as contemplated by these Terms, does notand will not:
              <ol type="i">
                <li>infringe, violate, or misappropriate any third party right, including any copyright, trademark,
                  patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual
                  property
                  or proprietary right;</li>
                <li>
                  slander, defame, libel, or invade the right of privacy, publicity or other
                  property rights of any other person; or
                </li>
                <li>
                  cause Jvscan to violate any law or regulation; and
                  your User Content could not be deemed by a reasonable person to be objectionable, profane, indecent,
                  pornographic, harassing, threatening, embarrassing, hateful, or otherwise inappropriate.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li><b>Prohibited Conduct. BY USING THE SERVICE, YOU AGREE NOT TO:</b>
          <ol>
            <li>
              use the Service for any illegal purpose or in violation of any local, state, national, or international
              law;
            </li>
            <li>violate, or encourage others to violate, any right of a third party, including by infringing or
              misappropriating any third party intellectual property right;</li>
            <li>
              interfere with security-related features of the Service, including by:
              <ol type="i">
                <li>disabling or circumventing features that prevent or limit use or copying of any content; or </li>
                <li> reverse engineering or otherwise attempting to discover the source code of any portion of the
                  Service except to the extent that the activity is expressly permitted by applicable law;</li>
              </ol>
            </li>
            <li>interfere with the operation of the Service or any user’s enjoyment of the Service, including by:
              <ol type="i">
                <li>uploading or otherwise disseminating any virus, adware, spyware, worm, or other malicious code;
                </li>
                <li>
                  making any unsolicited offer or advertisement to another user of the Service;
                </li>
                <li>
                  collecting personal information about another user or third party without consent; or
                </li>
                <li>interfering with or disrupting any network, equipment, or server connected to or used to
                  provide the Service;</li>
              </ol>
            </li>
            <li>
              perform any fraudulent activity including impersonating any person or entity, claiming a false
              affiliation, accessing any other Service account without permission, or falsifying your age or date of
              birth;
            </li>
            <li>
              sell or otherwise transfer the access granted under these Terms or any Materials or any right or
              ability to view, access, or use any Materials; or
            </li>
            <li>
              attempt to do any of the acts described in this Section 8 or assist or permit any person in engaging
              in any of the acts described in this Section 8.
            </li>
          </ol>
        </li>
        <li><b>Digital Millennium Copyright Act</b>
          <ol>
            <li>DMCA Notification. We comply with the provisions of the Digital Millennium Copyright Act applicable to
              Internet service providers (17 U.S.C. §512, as amended). If you have an intellectual property
              rights-related complaint about material posted on the Service, you may contact our Designated Agent at the
              following address: <br>
              <b>
                Jvscan Private Limited , Inc. <br>
                W3-57, 3rd Floor SCO 32-34, Sector 17-c, Chandigarh, India <br>
                Email: admin@Jvscan.com
              </b>
            </li>
          </ol>
        </li>
        <div class="my-5">
          <p>Any notice alleging that materials hosted by or distributed through the Service infringe intellectual
            property rights must include substantially the following:
          </p>
          <ol>
            <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the
              copyright or other right being infringed;
            </li>
            <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;
            </li>
            <li>a description of the material that you claim is infringing and where it is located on the Service;</li>
            <li>your address, telephone number, and email address;</li>
            <li>
              a statement by you that you have a good faith belief that the use of the materials on the Service of which
              you are complaining is not authorized by the copyright owner, its agent, or the law; and</li>
            <li>a statement by you that the above information in your notice is accurate and that, under penalty of
              perjury, you are the copyright or intellectual property owner or authorized to act on the copyright or
              intellectual property owner’s behalf.
            </li>
            <li> <b>Repeat Infringers.</b> Jvscan’s repeat infringer policy is to: (a) remove or disable access to
              material that
              Jvscan believes in good faith, upon notice from an intellectual property rights owner or his or her agent,
              is infringing the intellectual property rights of a third party by being made available through the
              Service; and (b) in appropriate circumstances, to terminate the accounts of and block access to the
              Service by user who repeatedly or egregiously infringe other people’s copyrights or other intellectual
              property rights.</li>
          </ol>
        </div>
        <ol class="pointer">
          <li><b>Modification of these Terms.</b>We reserve the right to change these Terms on a going-forward basis at
            any time. Please check these Terms periodically for changes. If a change to these Terms materially modifies
            your rights or obligations, we may require that you accept the modified Terms in order to continue to use
            the Service. Material modifications are effective upon your acceptance of the modified Terms. Immaterial
            modifications are effective upon publication. Except as expressly permitted in this Section 10, these Terms
            may be amended only by a written agreement signed by authorized representatives of the parties to these
            Terms. Disputes arising under these Terms will be resolved in accordance with the version of these Terms
            that was in effect at the time the dispute arose.
          </li>
          <li><b>Term, Termination and Modification of the Service</b>
            <ol>
              <li>Term. These Terms are effective beginning when you accept the Terms or first access, or use the
                Service, and ending when terminated as described in Section 11.2.
              </li>
              <li>Termination. If you violate any provision of these Terms, your authorization to access the Service and
                these Terms automatically terminate. In addition, Jvscan may, at its sole discretion, terminate these
                Terms or your account on the Service, or suspend or terminate your access to the Service, at any time
                for any reason or no reason, with or without notice. You may terminate your account and these Terms at
                any time by contacting customer service at support@Jvscan.com.
              </li>
              <li>Effect of Termination. Upon termination of these Terms: (a) your license rights will terminate and you
                must immediately cease all use of the Service; (b) you will no longer be authorized to access your
                account or the Service; (c) you must pay Jvscan any unpaid amount that was due prior to termination; and
                (d) and Sections 2, 3, 4.2, 4.3, 5, 6, 7, 8, 9, 10, 11.3, 12, 13, 14, 15, and 16 will survive.
              </li>
              <li>Modification of the Service. Jvscan reserves the right to modify or discontinue the Service at its
                sole discretion and at any time (including by limiting or discontinuing certain features of the
                Service), temporarily or permanently, without notice to you. Jvscan will have no liability for any
                change to the Service or any suspension or termination of your access to or use of the Service.</li>
            </ol>
          </li>
          <li><b>Indemnity. </b>To the fullest extent permitted by law, you are responsible for your use of the Service,
            and you will defend and indemnify Jvscan and its officers, directors, employees, consultants, parent
            entities and shareholders, affiliates, subsidiaries, contractors, advertisers, service providers and agents
            (together, the “Jvscan Entities”) from and against every claim brought by a third party, and any related
            liability, damage, loss, and expense, including reasonable attorneys’ fees and costs, arising out of or
            connected with:
            <ol type="a">
              <li>your unauthorized use of, or misuse of, the Service;</li>
              <li>your violation of any portion
                of these Terms, any representation, warranty, or agreement referenced in these Terms, or any applicable
                law
                or regulation;</li>
              <li>your violation of any third party right, including any intellectual property right or
                publicity, confidentiality, other property, or privacy right; or </li>
              <li> any dispute or issue between you and
                any third party. We reserve the right, at our own expense, to assume the exclusive defense and control
                of
                any matter otherwise subject to indemnification by you (without limiting your indemnification
                obligations
                with respect to that matter), and in that case, you agree to cooperate with our defense of those claims.
              </li>
            </ol>
          </li>
          <li><b>Disclaimers; No Warranties</b> The service and all materials and content available through the service
            are provided “as is” and on an “as available” basis. Jvscan disclaims all warranties of any kind, whether
            express or implied, relating to the service and all materials and content available through the service,
            including: (a) any implied warranty of merchantability, fitness for a particular purpose, title, quiet
            enjoyment, or non-infringement; and (b) any warranty arising out of course of dealing, usage, or trade.
            Jvscan does not warrant that the service or any portion of the service, or any materials or content offered
            through the service, will be uninterrupted, secure, or free of errors, viruses, or other harmful components,
            and jvscan does not warrant that any of those issues will be corrected.
            <br>
            <br>
            It is hereby expressly clarified that, the Information that you obtain or receive from JVSCAN ENTITIES or
            otherwise on the SERVICE is for informational purposes only. JVSCAN makes no guarantees, representations or
            warranties, whether expressed or implied, with respect to the professional qualifications, quality of work,
            expertise or other information provided on the service. No advice or information, whether oral or written,
            obtained by you from the service or jvscan entities or any materials or content available through the
            service will create any warranty regarding any of the jvscan entities or the service that is not expressly
            stated in these terms. We are not responsible for any damage that may result from the service and your
            dealing with any other service user. You understand and agree that you use any portion of the service at
            your own discretion and risk, and that we are not responsible for any damage to your property (including
            your computer system or mobile device used in connection with the service) or any loss of data.
            <br>
            <br>
            Please note that the content, text, data, graphics, images, information, suggestions, guidance, and other
            material that may be available on the SERVICE may NOT be provided by LICENSED MEDICAL PRACTIONERS OR BY
            QUALIFIED individuals FROM the medical profession. The provision of such Information does not create a
            DOCTOR-patient relationship between JVSCAN and you, and does not constitute an opinion, medical advice, or
            diagnosis or treatment of any particular condition, but is only provided to assist you with relevant
            information and approaching appropriate HEALTHCARE AND medical PROFESSIONALS.
            <br>
            <br>
            ​Jvscan expressly disclaims and excludes all warranties in relation to any diagnostic service, treatment
            and/or clinical service made available to the user by any third party in connection with any information
            provided on the service.
            <br>
            <br>
            The information provided on the service has not been evaluated AND/OR APPROVED by the UNITED STATES Food and
            Drug Administration, THE DRUG CONTROLLER OF INDIA, medical professionals, medical bodies OR any OTHER
            STATUTORY BODY IN THE UNITED STATES AND/OR IN INDIA, and is not intended to diagnose, treat, cure or prevent
            any illness, condition or other health issue. INFORMATION PROVIDED ON THE SERVICE is not intended to be, and
            should not be used in the place of, the advice of medical professionals or any information provided on any
            product packaging or label. any information provided ON THE SERVICE is not intended to serve as a substitute
            for clinical advice and should not be relied upon while making treatment related decisions. For advice on
            medical issues you should always consult your doctor or other qualified health care professional. You must
            obtain professional or specialist advice before taking, or refraining from, any action on the basis of the
            information or content made available via the Service.
            <br>
            <br>
            Jvscan does not provide medical or other licensed professional advice. Any content accessed through the
            service is for informational purposes only and is not intended to cover all possible uses, directions,
            precautions, or adverse effects. The service is not intended to be a substitute for professional medical
            advice, diagnosis, or treatment. The materials should not be used during a medical emergency or for the
            diagnosis or treatment of any medical condition. Please consult your doctor or other qualified health care
            provider if you have any questions about a medical condition, or before commencing or discontinuing any
            course of treatment. Do not ignore or delay obtaining professional medical advice because of information
            accessed through the service. Call the emergency response number such as 911 (in us) or 112 (in india) or
            your doctor for all medical emergencies.
            <br>
            <br>
            You are hereby notified that voice and behaviour, patient symptoms, fitness and medical history, medicines
            and/or medicinal products and other related information differs from country to country and varies from
            region to region. The limitations, exclusions and disclaimers in this section apply to the fullest extent
            permitted by law. Jvscan does not disclaim any warranty or other right that jvscan is prohibited from
            disclaiming under applicable law.
          </li>
        </ol>
      </ol>
      <ol class="pointer">
        <li><b>Limitation Of Liability</b> <br>
          To the fullest extent permitted by law, in no event will the jvscan entities be liable to you for any
          indirect, incidental, special, consequential or punitive damages (including damages for loss or corruption of
          data, downtime, business interruption, replacement service, loss of profits, goodwill, or any other intangible
          loss) arising out of or relating to your access to or use of, or your inability to access or use, the service
          or any materials or content on the service, whether based on warranty, contract, tort (including negligence),
          statute, or any other legal theory, and whether or not any jvscan entity has been informed of the possibility
          of damage.
          Users from the united states must note that except as provided in section 15.5 and to the fullest extent
          permitted by law, the aggregate liability of the jvscan entities to you for all claims arising out of or
          relating to the use of or any inability to use any portion of the service or otherwise under these terms,
          whether in contract, tort, or otherwise, is limited to USD 100 (united states dollars one hundred).
          Users from india must note that except as provided in section 15.5 and to the fullest extent permitted by law,
          the aggregate liability of the jvscan entities to you for all claims arising out of or relating to the use of
          or any inability to use any portion of the service or otherwise under these terms, whether in contract, tort,
          or otherwise, is limited to inr 1,000 (indian rupees one thousand).
          Each provision of these terms that provides for a limitation of liability, disclaimer of warranties, or
          exclusion of damages is intended to and does allocate the risks between the parties under these terms. This
          allocation is an essential element of the basis of the bargain between the parties. Each of these provisions
          is severable and independent of all other provisions of these terms. The limitations in this section 14 will
          apply even if any limited remedy fails of its essential purpose
          Miscellaneous TERMS
          <br>
          <br>
          General Terms. These Terms, together with the Privacy Policy and any other agreements expressly incorporated
          by reference into these Terms, are the entire and exclusive understanding and agreement between you and Jvscan
          regarding your use of the Service. You will not assign or transfer these Terms or your rights under these
          Terms, in whole or in part, by operation of law or otherwise, without our prior written consent. We may assign
          these Terms at any time without notice or consent. The failure to require performance of any provision will
          not affect our right to require performance at any other time after that, nor will a waiver by us of any
          breach or default of these Terms, or any provision of these Terms, be a waiver of any subsequent breach or
          default or a waiver of the provision itself. Use of section headers in these Terms is for convenience only and
          will not have any impact on the interpretation of any provision. Throughout these Terms the use of the word
          “including” means “including but not limited to”. If any part of these Terms is held to be invalid or
          unenforceable, the unenforceable part will be given effect to the greatest extent possible, and the remaining
          parts will remain in full force and effect.
          <ol>
            <li><b>Governing Law.</b>These Terms are governed by the laws of the Government of India without regard to conflict of law principles. You and Jvscan submit to the personal and exclusive jurisdiction of the state courts and federal courts located within the UT of Chandigarh  , for resolution of any lawsuit or court proceeding permitted under these Terms. We operate the Service from our offices in Boston, and we make no representation that Materials included in the Service are appropriate or available for use in other locations.
            </li>
            <li><b>Privacy Policy.</b> Please read the Jvscan Privacy Policy [https://www.Jvscan.com/privacy-and-security] carefully for information relating to our collection, use, storage, disclosure of your personal information. The Jvscan Privacy Policy is incorporated by this reference into, and made a part of, these Terms.
            </li>
            <li><b>Additional Terms. </b>Your use of the Service is subject to all additional terms, policies, rules, or guidelines applicable to the Service or certain features of the Service that we may post on or link to from the Service (the “Additional Terms”). All Additional Terms are incorporated by this reference into, and made a part of, these Terms. If there is any conflict or inconsistency between these Terms and any Additional Terms, these Terms will apply to the extent of the conflict or inconsistency unless the Additional Terms expressly state the Sections in these Terms that are superseded for the purposes of those Additional Terms only.
            </li>
            <li><b>Consent to Electronic Communications.</b> By using the Service, you consent to receiving certain electronic communications from us as further described in our Privacy Policy. Please read our Privacy Policy to learn more about our electronic communications practices. You agree that any notices, agreements, disclosures, or other communications that we send to you electronically will satisfy any legal communication requirements, including that those communications be in writing.
            </li>
            <li><b>Contact Information.</b> The Service is offered by Jvscan Private Limited , located at W3-57, 3rd Floor SCO 32-34, Sector 17-c, Chandigarh- India
            </li>
            <li>You may contact us by sending correspondence to that address or by emailing us at <br>
              <b>admin@Jvscan.com.</b>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- use the Service for any illegal purpose or in violation of any local, state, national, or international law;
violate, or encourage others to violate, any right of a third party, including by infringing or misappropriating any third party intellectual property right;
interfere with security-related features of the Service, including by: (i) disabling or circumventing features that prevent or limit use or copying of any content; or (ii) reverse engineering or otherwise attempting to discover the source code of any portion of the Service except to the extent that the activity is expressly permitted by applicable law;
interfere with the operation of the Service or any user’s enjoyment of the Service, including by: (i) uploading or otherwise disseminating any virus, adware, spyware, worm, or other malicious code; (ii) making any unsolicited offer or advertisement to another user of the Service; (iii) collecting personal information about another user or third party without consent; or (iv) interfering with or disrupting any network, equipment, or server connected to or used to provide the Service;
perform any fraudulent activity including impersonating any person or entity, claiming a false affiliation, accessing any other Service account without permission, or falsifying your age or date of birth;
sell or otherwise transfer the access granted under these Terms or any Materials or any right or ability to view, access, or use any Materials; or
attempt to do any of the acts described in this Section 8 or assist or permit any person in engaging in any of the acts described in this Section 8. -->
