<div>
  <app-log-in-or-sign-up style="position:absolute; z-index: 150;" (info)="backDropClicked($event)"
    *ngIf="LogInModalOpen">
  </app-log-in-or-sign-up>
</div>

<!--
  <div class="about-section-1">
    <div class="container about-co-1">
      <div class="row about-ro-1">
        <div class="col-sm-6 about-col-1">
          <img src="../../../assets/imgs/about-images/unknown.png" alt="" id="hidden-sec-11-img">
          <img src="../../../assets/imgs/about-images/Frame14.png" alt="" id="hidden-sec-12-img">
        </div>
        <div class="col-sm-6 about-col-2">
          <h2 class="purple-text">World's First ever Smart Health Diagnosis App In Just 30 seconds!! </h2>
          <button class="btn orange-btn" (click)="openModal()">Get Started</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- ABOUT-US SECTION 1 ENDS -->

<!-- ABOUT-US SECTION-2 STARTS -->

<div class="about-section-2">
  <div class="text-center mb-3">
    <h1 class="purple-text text-center">SCALING THE POWER OF AI IN HEALTHCARE</h1>
    <p class="text-p">Together we Envisioned, built and Operationalized an end to end Health care Solution</p>
  </div>
  <div class="container about-co-2">
    <div class="row about-ro-2">
      <div class="col-sm-6 about-col-2-1">
        <h2 class="purple-text">Want to know about us?</h2>
        <p class="text-p">
          <img src="../../../assets/imgs/about-images/AI.png" alt="" align="right" id="sec-2-hidden-img">
          Founded in 2013, Jv-Scan is an AI-Based home based healthcare Diagnostic Tool that helps in
          mapping the mental & physical health issues.
          Jv-Scan has been Advocating Preventive Health care since 2008 and in process of providing
          “disease-free life”, Dr. Mahesh Hukmani invented an AI-Backed Health-tech app that is utilized
          as a New Diagnosis tool for Detecting Missing Frequencies in the Body that are responsible for
          Creating Stress initially and Sickness Later.
          The New Diagnosis tool Follows W H O Guidelines laid down in 1984 Geneva convention.
        </p>

      </div>
      <div class="col-sm-6 about-col-2-2">
        <img src="../../../assets/imgs/about-images/AI.png" class="about-col-2-2-img" alt="">
      </div>
    </div>
  </div>
</div>

<!-- ABOUT-US SECTION-2 ENDS -->

<!-- ABOUT-US SECTION-3 STARTS -->

<div class="about-section-3">
  <div class="container about-co-3">
    <h2 class="purple-text mb-5" style="text-align: center;">Road-Map</h2>
    <img src="../../../assets/imgs/about-images/Group278.png" alt="" id="sec-3-hidden-img-1">
    <img src="../../../assets/imgs/about-images/Group_279.png" alt="" id="sec-3-hidden-img-2">
  </div>
</div>

<!-- ABOUT-US SECTION-3 ENDS -->

<!-- ABOUT-US SECTION-4 STARTS -->

<div class="about-section-4">
  <div class="container about-co-4">
    <h2 class="purple-text text-center mb-3">The Power Of Three</h2>
    <p class="text-p text-center w-75 my-2" style="margin: auto;">In the beginning, we had no clue about putting
      together the right team, but we met
      people, a lot of people. There were discussions & arguments to reach a core composition, much like a dramatic web
      series.
      We identified the skills that were crucial to the project. Power of 3 - Medical, Tech & Business.</p>
    <div class="row about-ro-4-1">
      <div class="col-sm-6 about-col-4-1">
        <img src="../../../assets/imgs/about-images/imageedit_2_3651337341.png" alt="">
      </div>
      <div class="col-sm-6 about-col-4-2">
        <h3 class="purple-text">Medical</h3>
        <p class="text-p">
          Being 1st in market bring a lot of challenges and responsibilities. Our team did primary &
          secondary Research to put together the whole Idea in one app. The crucial part was to discover
          healthcare regulations, remotely delivering all the services, keeping patient data secured, and
          provide value-based care.
        </p>
      </div>
    </div>

    <div class="row about-ro-4-1">
      <div class="col-sm-6 about-col-4-2" style="text-align: right;">
        <h3 class="purple-text">Technology</h3>
        <p class="text-p">
          A highly-functional team was needed to accomplish this job due to its sheer diversity and
          complexity, as well as its need for a rapid turnaround. Our tech team includes experienced AI
          architects and ML engineers.
        </p>
      </div>
      <div class="col-sm-6 about-col-4-1">
        <img src="../../../assets/imgs/about-images/7362.jpg" alt="">
      </div>
    </div>

    <div class="row about-ro-4-1">
      <div class="col-sm-6 about-col-4-1">
        <img src="../../../assets/imgs/about-images/MAHESH-6.png" alt="">
      </div>
      <div class="col-sm-6 about-col-4-2">
        <h3 class="purple-text">Business</h3>
        <p class="text-p">
          We are Backed up by a Medical Professional with his Invention & His Innovative Skills as we Move
          Ahead. ​His Knowledge and Skills have been passed on to the Whole lot of People working on this
          Project
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ABOUT-US SECTION-4 ENDS -->

<!-- ABOUT-US SECTION-5 STARTS -->

<div class="about-section-5">
  <div class="container about-co-5">
    <div class="row about-ro-5">
      <div class="col-sm-12 align-items-center">
        <img src="../../../assets/imgs/about-images/Rectangle 11.png" id="sec-5-img-1" alt="" style="float: left;">
        <div class="text-p invntr">
          <h2 class="purple-text">Meet Our Inventor</h2>
          Dr Mahesh Hukmani is an Eye Surgeon by profession and did his MS in ophthalmology from the
          prestigious S.M.S Medical college and Hospital Jaipur ( Raj.) in 1998. His Research in
          Vibrational
          Medicine went on until one day he managed to develop a software for Voice analysis, called
          Jupiter
          Voice Scan or JV-SCAN, as a new Holistic approach in Diagnosing the Trapped Emotions Of
          Subconscious
          Mind & treating the human body deficiencies in the form of pure sound frequencies named by him
          as
          HEALING CODE THERAPY. It is now matured into the one and only Complete integrated Wellness
          Concept,
          in the History of Holistic/Alternative therapies, that helps in Disease Prevention, Utilizing
          its
          own Diagnostics (Only Allopathy has its own Diagnostics otherwise), and treatment by means of
          Pure
          sound Frequencies, making it a completely drugless, painless, affordable method of treatment.
          <br>
          <br>
          The whole concept is developed and matured as per the Guidelines laid down by W H O -Geneva Convention 1984
          The whole Concept is Patented and under Copy Right Protection
          With more than 5000 clients treated successfully in the last 8 years after its launch on June 24, 2013, This
          method is becoming the treatment of choice for not only disease prevention but also disease elimination.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ABOUT-US SECTION-5 ENDS -->

<!-- ABOUT-US SECTION-6 STARTS -->

<div class="about-section-6">
  <div class="container about-co-6">
    <h2 class="purple-text text-center mb-3">Meet Our Team</h2>
    <div class="row about-ro-6">
      <div class="py-sm-2 py-md-4">

        <p class="text-p"><b>We are Backed up by a Medical Professional</b> with his Invention & His Innovative Skills as we
          Move Ahead.
          His Knowledge and Skills have been passed on to the Whole lot of People working on this Project.
          We Understand the needs of the Hour when it comes to Medical Fraternity as Evidenced Recently By Covid 19 Era
          where in Preventive Health care Measures Helped Masses in Acquiring a Corona Negative Status. This is called
          <b>Primary Prevention</b>.</p>

        <p class="text-p"><b>Lets Take it to the new Level of Secondary Prevention-</b> By Early Diagnosis of
          Any Medical Condition
          or Ailment using <b>Jv scan-Voice Analysis as a New Diagnosis Tool.</b></p>
        <p class="text-p">Achieving Tertiary Prevention is also Possible with Jv scan- That is Reversal of
          the Disease Process to Prevent
          any Surgical Intervention and Rehabilitation.

          <b>We Understand that the Future of Medical Science is Preventive in Nature</b> and with the surfacing and
          Emergence of
          Diagnostic tools like Jv-scan, it has become much easier for us to understand and follow the Company Mission
          Statement, Guidelines and Core Objectives for an effective Implementation.

          <b>The Pulse of the Market</b> is a Valuable indicator to the Success of a Project and with Covid 19 Creating
          Much
          awareness Towards Disease Prevention and Preventive Health care we feel we are heading in the Right Direction
          towards achieving Our Goals.
        </p>
      </div>
      <div class="col-sm-4 about-col-6-1" *ngFor="let item of ourTeam">
        <img src="{{ apiUrl + item.Image }}" alt="">
        <div class="meetOurTeam">
          <p class="text-p mb-0">{{ item.Name }}</p>
          <p class="d-grey mb-0">{{ item.Designation }}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ABOUT-US SECTION-6 ENDS -->

<!-- ABOUT-US SECTION-7 STARTS -->

<!-- <div class="about-section-7">
            <div class="container about-co-7">
              <div class="row about-ro-7">
                <div class="card">
                  <h2 class="purple-text" style="background: linear-gradient(90deg, #ffffff 19.48%, #ffffff 81.71%);    -webkit-background-clip: text;
                  ">Quote by Inventor</h2>
                  <p class="text-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
          </div> -->
