<!-- <app-home-section-one></app-home-section-one> -->


<!-- <div class="rtech-section-1">
    <div class="container rtech-co-1">
        <div class="row rtech-ro-1">
            <div class="col-sm-3 rtech-col-1-1">
                <img src="../../../assets/imgs/RTech/unknown (2).png" alt="">
            </div>
            <div class="col-sm-5 rtech-col-1-2 text-center">
                <h4 class="purple-text">World's First ever Smart Health Diagnosis App In Just 30 seconds!! </h4>
                <button class="btn orange-btn" (click)="openModal()">Get Started</button>
            </div>
            <div class="col-sm-4 rtech-col-1-3">
                <img src="../../../assets/imgs/RTech/unknown.png" alt="">
            </div>
        </div>
    </div>
</div> -->

<!-- RTECH SECTION-1 ENDS -->


<!-- RTECH SECTION-2 STARTS  -->

<div class="rtech-section-2">
  <div class="container rtech-co-2 mb-5">
    <div class="text-center mb-5">
      <h2 class="purple-text fs-2">DECODING THE HUMAN VOICE</h2>
      <p class="text-p fw-bold">To map Mental and Physical Health issues using Artificial Intelligence</p>
      <img class="firstImage-rAndD" src="../../../assets/imgs/RTech/Research jvscan.webp" alt="">
      <p class="text-p fw-bold w-50" style="margin: auto;">When you speak into the phone for 30 seconds, the information
        contained in your entire
        Nervous system is transmitted through your voice and decoded by Artificial Intelligence Algorithm</p>
    </div>
    <div class="row rtech-ro-2 align-items-center mb-3">
      <div class="col-sm-6 rtech-col-2-1">
        <img src="../../../assets/imgs/RTech/THE IDEA_edited.webp" alt="">
      </div>
      <div class="col-sm-6 d-flex rtech-col-2-2">
        <div class="text-p">
          <h2 class="purple-text">THE ORIGIN OF IDEA</h2>
          The Research work began way back in June 2008 and the Intent was to Reverse the Progression of
          Dr. Mahesh’s Own Disease Process which had already laid its prongs within his mind and was
          progressing towards a Greater degree of Endogenous Depression.
          <br>
          <br>

          Much work had been done on all except the Voice Print and this is how the Research work started.
        </div>
      </div>
    </div>
    <div class="text-center my-5">

      <h2 class="purple-text">The Human body has 4 Unique Characteristics , the signature pattern of ones existence.
        Each one has a
        Different One</h2>
    </div>
    <div class="row rtech-ro-2-2">
      <div class="col-sm-3 rtech-col-2-3">
        <img src="../../../assets/imgs/RTech/fa6-solid_dna.png" alt="">
        <p class="text-p mt-3 text-center fw-bold">DNA Print</p>
      </div>
      <div class="col-sm-3 rtech-col-2-3">
        <img src="../../../assets/imgs/RTech/ion_finger-print-sharp.png" alt="">
        <p class="text-p mt-3 text-center fw-bold">Finger Print</p>
      </div>
      <div class="col-sm-3 rtech-col-2-3">
        <img src="../../../assets/imgs/RTech/fa6-solid_arrows-to-eye.png" alt="">
        <p class="text-p mt-3 text-center fw-bold">Iris pattern</p>
      </div>
      <div class="col-sm-3 rtech-col-2-3">
        <img src="../../../assets/imgs/RTech/mingcute_voice-fill.png  " alt="">
        <p class="text-p mt-3 text-center fw-bold">Voice Print</p>
      </div>
    </div>
  </div>
</div>

<!-- RTECH SECTION-2 ENDS -->

<!-- RTECH SECTION-3 STARTS -->

<div class="rtech-section-3">
  <div class="container rtech-co-3">
    <h4 class="purple-text text-center">DEVELOPMENT OF TECHNOLOGY</h4>
    <p class="text-p text-center">
      The Technology Developed by Dr Mahesh Hukmani Named Jv-scan is based on the same Scientific Principles
      as
      That of X-Ray, MRI, USG, CT-SCAN. Together they may be Grouped as Frequency Related Health Technology-
      The Common Components of Which are:
    </p>
    <div class="row rtech-ro-3-1">
      <div class="col-sm-6 rtech-col-3-1">
        <img src="../../../assets/imgs/RTech/Frame.png" alt="">
      </div>
      <div class="col-sm-6 rtech-col-3-2">
        <h4 class="purple-text">Frequency Projection</h4>
        <p class="text-p">
          In Health Technologies , this term is referred to when certain frequencies are projected inside
          the Human body and reflectivity of the waves is studied to understand the underlying pathology.
          In Voice Analysis, frequency Projection happens when a negative emotion of a low vibratory Value
          gets lodges into the depths of the Sub conscious Mind.
        </p>
      </div>
    </div>

    <div class="row rtech-ro-3-1">
      <div class="col-sm-6 rtech-col-3-2" style="text-align: right;">
        <h4 class="purple-text">Collection of signals</h4>
        <p class="text-p">
          n Health technologies, the signals reflected from the body are collected over a computer screen and a
          data/Pattern of the same is created to understand the changes that have happened in the Body.
          <br>
          <br>
          In Voice Analysis, collection of signals is done through a Voice Recordings and the Voice Grid
          there after gives us the Understanding of Subtle Frequency Imbalances in the Body.
        </p>
      </div>
      <div class="col-sm-6 rtech-col-3-1" style="text-align: left;">
        <img src="../../../assets/imgs/RTech/Frame (1).png" alt="">
      </div>
    </div>

    <div class="row rtech-ro-3-1">
      <div class="col-sm-6 rtech-col-3-1">
        <img src="../../../assets/imgs/RTech/Frame (2).png" alt="">
      </div>
      <div class="col-sm-6 rtech-col-3-2">
        <h4 class="purple-text">Interpretation</h4>
        <p class="text-p">
          In Health Technologies the Interpretation of Collected Signals Is always done manually by a
          Radiologist.
          In Voice Analysis, the Unique AI Algorithm developed by Jv-scan does the Interpretation at the
          Click of a Button.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- RTECH SECTION-3 ENDS -->

<!-- RTECH SECTION-4 STARTS  -->

<div class="rtech-section-4">
  <div class="container rtech-co-4">
    <div class="row rtech-ro-4">
      <div class="col-sm-12 rtech-col-4">
        <h2 class="purple-text text-center mb-5">
          DETAILED ENCYCLOPEDIA OF DIAGNOSIS</h2>
        <p class="text-p">
          <img src="../../../assets/imgs/RTech/ML_edited.webp" alt="">
          The Software for Recording of Voice sample was Procured way back in 2008 from a company from
          Spain called Voice Sync. The software is Capable of Breaking a Spoken Voice into 72 Frequencies
          with representation of all Body Organs into the same.
          <br>
          <br>
          The Original Work of assigning and finding correct frequencies for a Particular Emotion, Blood
          Element, Body Organ and Systems took more than 5 years to develop with the aid of friends and
          relatives who volunteered to be a part of this Research.
          <br>
          <br>
          A whole Detailed Encyclopaedia of Diagnosis then came into Existence which has been Named as
          Frequency Cards with detailed work on Each Frequency Highlighting the Root cause/Causes for a
          Particular Missing or Hyper active
          <br>
          <br>
          Frequency, the Issues faced by the individual as a result of the same, the addiction patterns
          he/she would face, changes in the blood with respect to Hormones, vitamins, Amino Acids, Neuro
          transmitters-The So Called Bio Markers of Health, and finally the Organ Affected Right Now and
          the Ones at Risk ranging from 6 Months to 5 Years from the Time of Voice Recording.These are
          called Psycho Neural Pathways and for the First Time Ever in So much details, they have been
          Highlighted.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- RTECH SECTION-4 ENDS  -->

<!-- RTECH SECTION-5 STARTS -->

<div class="rtech-section-5">
  <div class="container rtech-co-5">
    <div class="row rtech-ro-5">
      <div class="col-sm-12 rtech-col-5">
        <h2 class="purple-text mb-3">FROM IDEA TO AI BACKEND HEALTH-TECH APP</h2>
        <img src="../../../assets/imgs/RTech/lastRT.webp" alt="">
        <p class="text-p">
          <br>
          In 2016, the development of an Android based application was complete and any one from across
          the Globe was made capable of accessing our services and treatment options via e-mail thus
          marking a new era of Digital consciousness for Home Based Digital Health- Getting Full Body Scan
          Reporting and Multiple Treatment Options.
          <br> <br>
          In 2021, after testing the Entire system on over 5000 People, the Integration of Artificial
          Intelligence was done, thus unleashing a New era in Health care Diagnosis sitting at Home and
          creating a New Paradigm in Home based Preventive Health care Services.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- RTECH SECTION-5 ENDS -->

<!-- RTECH SECTION-6 STARTS -->

<div class="rtech-section-6">
  <div class="container rtech-co-6">
    <h2 class="purple-text mb-3">How does our app work?</h2>
    <p class="text-p">
      This is the First Ever Home Based Technology driven Health care delivery system at the moment where
      the client doesn’t go the Hospital and the Diagnosis and treatment is delivered to the client
      through the email.
      <br>
      When you record a Voice and examine it carefully it gives you the following information:
    </p>
    <div class="row rtech-ro-6">
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (13).png" alt=""> -->
        <p class="text-p">Personality Traits of an Individual</p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (12).png" alt=""> -->
        <p class="text-p">Root Cause Analysis</p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (11).png" alt=""> -->
        <p class="text-p">State of the Mind</p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (10).png" alt=""> -->
        <p class="text-p">State of All Negative Emotions </p>
      </div>
    </div>
    <div class="row rtech-ro-6">
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (9).png" alt=""> -->
        <p class="text-p">Progression into the Mind</p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (8).png" alt=""> -->
        <p class="text-p">The Origin of Stress: Due to Weak </p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (7).png" alt=""> -->
        <p class="text-p">Subconscious Mind or an Activated </p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (6).png" alt=""> -->
        <p class="text-p">Conscious Mind</p>
      </div>
    </div>
    <div class="row rtech-ro-6">
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (5).png" alt=""> -->
        <p class="text-p">The brain wave patterns </p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (4).png" alt=""> -->
        <p class="text-p">The strength of the Coping up Mechanism</p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (3).png" alt=""> -->
        <p class="text-p">The Strength of the Immune System</p>
      </div>
      <div class="col-sm-3 rtech-col-6">
        <!-- <img src="../../../assets/imgs/RTech/unknown (1).png" alt=""> -->
        <p class="text-p">Changes in the Blood: Quantum Bio markers</p>
      </div>
    </div>
  </div>
</div>
