
<!--
  <div>
    <app-log-in-or-sign-up style="position:absolute; z-index: 150;" (info)="backDropClicked($event)"
      *ngIf="LogInModalOpen">
    </app-log-in-or-sign-up>
  </div> -->

  <!-- <app-home-section-one></app-home-section-one> -->

<!-- <div class="home-section-1">
    <div class="container home-sec-co-1">
        <div class="row">
            <div class="col-sm-2 img-sec-1">
                <div class="img-1">
                    <img src="../../../assets/imgs/Frame.png" alt="" width="60%">
                    <img src="../../../assets/imgs/Frame (1).png" alt="" class="right-image-1">
                </div>
            </div>
            <div class="col-sm-6 content-sec-1">
                <div class="content-part-1">
                    <h2 class="purple-text">
                        World's First ever Smart Health Diagnosis App In Just 30 seconds!!
                    </h2>
                    <button class="btn orange-btn" (click)="openModal()">Get Started</button>
                </div>
            </div>
            <div class="col-sm-4 img-sec-2">
                <div class="img-2">
                    <img src="../../../assets/imgs/Frame (3).png" alt="" class="left-image-2">
                    <img src="../../../assets/imgs/Frame (2).png" alt="" class="right-image-2">
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- PRODUCT SECTION-1 ENDS -->

<!-- PRODUCT SECTION-2 STARTS -->

<div class="product-section-2">
    <div class="container product-co-2">
        <div class="row product-ro-2">
          <div class="col-sm-12 text-center product-col-2 align-items-center">
            <h2 class="purple-text">INTRODUCING YOUR OWN PERSONAL HEALTH DIAGNOSTIC TOOL</h2>
                <p class="text-p">
                  We, at Jv-Scan, have been advocating preventive healthcare for the last 10 years or more using
                  Voice Analysis as a Diagnosis tool, invented by Dr Mahesh Hukmani.
                </p>
              </div>
              <iframe class="iframeOne" src="https://www.youtube.com/embed/YvA6AmBozts"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <div class="row product-ro-2">
          <div class="col-sm-12 product-col-2">
            <h2 class="purple-text ml">TECHNOLOGY DEVELOPED FOR ALL AGG-GROUPS</h2>
            <img src="../../../assets/imgs/product-images/pronun-730x410_edited_edited.webp" alt="" id="img-prod-2">
                <p class="text-p">
                    Voice samples can reveal a lot about a person's health, and Researchers believe they can
                    identify underlying medical conditions in the Pre Illness stage or gauge disease risk based on
                    subtle vocal cues. Using the Jv-Scan App, the user can record short speech samples, analyze
                    them, and derive statistics about the user's health using a smartphone or other wearable device.
                </p>
            </div>
        </div>
        <div class="row product-ro-2" style="padding-bottom: 0;">
            <div class="col-sm-12 product-col-2" id="product-col-2-2">
                <h2 class="purple-text">FROM RESEARCH TO CLINICAL PRACTICE-5000 PEOPLE TESTED THROUGH VOICE ANALYSIS
                </h2>
                <p class="text-p">
                    <img src="../../../assets/imgs/product-images/paper-analysis.webp"
                        style="float: right; margin-right:0 ; margin-left:10px;" id="img-prod-2-2">
                    Conditions that affect our minds and bodies cause changes in our speech—such as changing our
                    tone, slurring our words, emphasizing certain words, lengthening our pauses, and more. Based on
                    these kinds of factors, Jv-Scan - A home based Preventive diagnostic tool is being developed
                    that helps to diagnose and predict many diseases in the Pre-illness stages.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SECTION-2 ENDS -->

<!-- PRODUCT SECTION-3 STARTS -->

<div class="product-section-3">
    <div class="container product-co-3">
        <h2 class="purple-text text-center">AI LAB TECHNOLOGIY AND MACHINE LEARNING IN HEALTH</h2>
        <div class="row product-ro-3">
            <div class="col-sm-3 product-col-3">
                <div>
                    <img src="../../../assets/imgs/product-images/20943599_edited.webp" alt="">
                </div>
                <p class="text-p fw-bold">Identifying disorders
                    in pre-illness stages</p>
            </div>
            <div class="col-sm-3 product-col-3">
                <div>
                    <img src="../../../assets/imgs/product-images/3156627_edited.webp" alt="">
                </div>
                <p class="text-p fw-bold">Customized Reporting</p>
            </div>
            <div class="col-sm-3 product-col-3">
                <div>
                    <img src="../../../assets/imgs/product-images/3297225.webp" alt="">
                </div>
                <p class="text-p fw-bold">Root cause Analysis</p>
            </div>
            <div class="col-sm-3 product-col-3">
                <div>
                    <img src="../../../assets/imgs/product-images/3675489_edited.webp" alt="">
                </div>
                <p class="text-p fw-bold">Real time Analysis</p>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SECTION-3 ENDS -->

<!-- PRODUCT SECTION-4 STARTS -->

<div class="product-section-4 mt-5">
    <div class="container product-co-4">
        <div class="row product-ro-4">
            <div class="col-sm-12 product-col-4">
                <h2 class="purple-text mb-3">FULL BODY SCAN USING VOICE ANALYSIS WITH: 97% ACCURACY</h2>
                <p class="text-p">
                    Filling a gap between knowing the problem and going for Lab Tests – it has been observed that
                    23% people get the lab tests done. <br>
                    When they observe symptoms, 56% get the lab tests done after doctor recommendation & 13% go for
                    routine lab tests. These full body scan using voice analysis has the accuracy of 97%.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SECTION-4 ENDS -->


<!-- PRODUCT SECTION-5 STARTS -->

<div class="product-section-5">
    <div class="container product-co-5">
        <div class="row product-ro-5 mb-3">
            <div class="col-sm-6 p5">
                <div class="product-col-5">
                    <!-- <img src="../../../assets/imgs/product-images/Rectangle 17.png" alt="" id="product-img-5-1"> -->
                    <h2 class="purple-text">Root Cause Analysis</h2>
                    <p class="text-p">
                        <img src="../../../assets/imgs/product-images/real-time-analysis_edited_edited.webp" alt=""
                            id="product-img-5-2">
                        Addressing the Root Cause of a Disease is the most crucial step towards attaining Disease
                        Prevention. This is because all diseases are borne in the mind and further progress into the
                        Body through various stages. The Root cause of any Disease is almost and invariably a very
                        low vibratory Emotional state as Measured over The Human Vibratory Emotional Scale. A deep
                        seated Emotion, lodged within the Depths of the Subconscious mind , collectively addressed
                        as Trapped Emotions.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 product-col-img-5">
                <img src="../../../assets/imgs/product-images/real-time-analysis_edited_edited.webp" alt="">
            </div>
        </div>
        <div class="row product-ro-5 mb-3" style="flex-direction: row-reverse;">
            <div class="col-sm-6 p5">
                <div class="product-col-5">
                    <!-- <img src="../../../assets/imgs/product-images/Rectangle 17.png" alt="" id="product-img-5-1"> -->
                    <h2 class="purple-text">Disease Stage Mapping</h2>
                    <p class="text-p">
                        <img src="../../../assets/imgs/product-images/mapping_edited.webp" alt=""
                            id="product-img-5-2">
                        Addressing the Root Cause of a Disease is the most crucial step towards attaining Disease
                        Prevention. This is because all diseases are borne in the mind and further progress into the
                        Body through various stages. The Root cause of any Disease is almost and invariably a very low
                        vibratory Emotional state as Measured over The Human Vibratory Emotional Scale. A deep seated
                        Emotion, lodged within the Depths of the Subconscious mind , collectively addressed as Trapped
                        Emotions
                    </p>
                </div>
            </div>
            <div class="col-sm-6 product-col-img-5">
                <img src="../../../assets/imgs/product-images/mapping_edited.webp" alt="">
            </div>
        </div>
        <div class="row product-ro-5 mb-3">
            <div class="col-sm-6 p5">
                <div class="product-col-5">
                    <!-- <img src="../../../assets/imgs/product-images/Rectangle 17.png" alt="" id="product-img-5-1"> -->
                    <h2 class="purple-text">Immunity Score</h2>
                    <p class="text-p align-items-center">
                        <img src="../../../assets/imgs/product-images/immunity_edited.webp" alt=""
                            id="product-img-5-2">
                        In the Human Body, the Immune system is represented by a few Organs & Frequencies. Jv-scan
                        measures the working Frequencies of these Organs to give you a Comprehensive Immune status
                        Scoring using a Unique Algorithm, so that you take action in Right Time to keep away from any
                        Measure of Ill health.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 product-col-img-5">
                <img src="../../../assets/imgs/product-images/immunity_edited.webp" alt="">
            </div>
        </div>
        <div class="row product-ro-5 mb-3"  style="flex-direction: row-reverse;">
            <div class="col-sm-6 p5">
                <div class="product-col-5">
                    <!-- <img src="../../../assets/imgs/product-images/Rectangle 17.png" alt="" id="product-img-5-1"> -->
                    <h2 class="purple-text">Organ risk calculation </h2>
                    <p class="text-p">
                        <img src="../../../assets/imgs/product-images/ORGAN-RISK_edited.webp" alt=""
                            id="product-img-5-2">
                        For the First time ever, using a Diagnosis tool to predict Organ Risk Calculation-an era of
                        Preventive Diagnosis.
                        This is based on the calculation of your Normal Frequencies and Comparing it with the Working
                        Frequencies of an Organ to give you Precisely the Low vibratory states at the Level of your
                        Organs and Systems.
                        An era of Preventive Diagnosis so you stay Hail, Hearty and Healthy.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 product-col-img-5">
                <img src="../../../assets/imgs/product-images/ORGAN-RISK_edited.webp" alt="">
            </div>
        </div>
        <div class="row product-ro-5">
            <div class="col-sm-6 p5">
                <div class="product-col-5">
                    <!-- <img src="../../../assets/imgs/product-images/Rectangle 17.png" alt="" id="product-img-5-1"> -->
                    <h2 class="purple-text">Biomarkers of ill health </h2>
                    <p class="text-p">
                        <img src="../../../assets/imgs/product-images/bio_edited (1).webp" alt=""
                            id="product-img-5-2">
                        Mapping of different Biomarkers of ill health was never so easy before.
                        Our unique AI Algorithm maps up different biomarkers of good and ill health and categorizes them
                        further into various categories to give you an overall score for your Blood Profile- <b> The
                            Cellular
                            score.</b>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 product-col-img-5">
                <img src="../../../assets/imgs/product-images/bio_edited (1).webp" alt="">
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SECTION-5 ENDS -->


<!-- PRODUCT SECTION-6 STARTS -->
