<!-- PRODUCT SECTION-1 STARTS -->
<!--
  <div class="home-section-1">
    <div class="container home-sec-co-1">
        <div class="row">
            <div class="col-sm-2 img-sec-1">
                <div class="img-1">
                    <img src="../../assets/imgs/product-images/Frame.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 content-sec-1">
                <div class="content-part-1">
                    <h2 class="purple-text">
                        World's First ever Smart Health Diagnosis App In Just 30 seconds!!
                    </h2>
                    <button class="btn orange-btn">Get Started</button>
                </div>
            </div>
            <div class="col-sm-4 img-sec-2">
                <div class="img-2">
                    <img src="../../assets/imgs/product-images/Group2.png" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- PRODUCT SECTION-1 ENDS -->

<!-- WORKSHOP-SECTION-2 STARTS -->

<div class="workshop-section-2">
  <div class="container workshop-co-2">
    <div class="row workshop-ro-2 text-center">
      <h2 class="purple-text mb-3">WHY DO WE FALL SICK AND HOW CAN WE PREVENT THAT ?</h2>
      <p class="text-p fw-bold mb-1 p-1">Are you a Seeker?</p>
      <p class="text-p fw-bold mb-1 p-1">Are you a Healer?</p>
      <p class="text-p fw-bold mb-1 p-1">Looking up to learn and add a new feather to your cap? </p>
      <h1 class="purple-text mb-5">DECODING THE SECRETS OF HUMAN ILLNESS THROUGH VOICE ANALYSIS</h1>
      <p class="text-p">Watch the video below and open your doors to the unexpected</p>
      <div class="col-sm-12 workshop-col-2-1">
        <iframe width="145" height="380" src="https://www.youtube.com/embed/hD_uVH6zplo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- WORKSHOP SECTION-2 ENDS -->

<!-- WORKSHOP SECTION-3 STARTS -->

<div class="workshop-section-3">
  <div class="container workshop-co-3">
    <h2 class="purple-text text-center w-75 mb-sm-2 mb-md-5" style="margin: auto;"> BE A CERTIFIED JV-SCAN PRACTITIONER !!!
      JOIN MY WORKSHOPS AS WE TAKE UP A NEW JOURNEY
      TOGETHER TO LEAP INTO THE QUANTUM CORE RESONANCE
      THROUGH VOICE ANALYSIS TO DECODE THE
      BODY SIGNALS OF SICKNESS & DISEASE.</h2>
    <div class="row wrkshp-ro-3">
      <div class="col-sm-3 col-md-4 text-center" style="margin: auto;">
        <img class="w-sm-50 w-md-100 p-0 mt-3" src="../../assets/imgs/workshop-images/Rectangle 11.png" alt="" srcset="">
        <p class="text-p fw-bold p-0 mt-3">Dr Mahesh Hukmani</p>
        <p class="text-p fw-bold p-0 m-0">MBBS, MS <b>(Eye)</b></p>
        <p class="text-p fw-bold p-0 m-0"><b>Inventor:</b> Jv-scan</p>
        <button class="btn btn-purple text-center w-100" routerLink="/workshop-details">Workshop details</button>
      </div>
    </div>
  </div>
</div>

<!-- WORKSHOP SECTION-3 ENDS -->
