<!-- <div>
    <app-log-in-or-sign-up style="position:absolute; z-index: 150;" (info)="backDropClicked($event)"
      *ngIf="LogInModalOpen">
    </app-log-in-or-sign-up>
  </div> -->

<!-- <app-home-section-one></app-home-section-one> -->



<!-- <div class="home-section-1">
    <div class="container home-sec-co-1">
        <div class="row">
            <div class="col-sm-2 img-sec-1">
                <div class="img-1">
                    <img src="../../assets/imgs/product-images/Frame.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 content-sec-1">
                <div class="content-part-1">
                    <h2 class="purple-text">
                        World's First ever Smart Health Diagnosis App In Just 30 seconds!!
                    </h2>
                    <button class="btn orange-btn" (click)="openModal()">Get Started</button>
                </div>
            </div>
            <div class="col-sm-4 img-sec-2">
                <div class="img-2">
                    <img src="../../assets/imgs/product-images/Group2.png" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- PRODUCT SECTION-1 ENDS -->

<!-- WORKSHOP-D-SECTION-2 STARTS -->

<div class="product-section-2">
  <div class="container product-co-2">
    <div class="row product-ro-2">
      <div class="col-sm-12 product-col-2">
        <h3 class="purple-text mb-4">"NEVER STOP LEARNING AS EACH DAY UNLEASHES A NEW lIFE CHAPTER"!!!</h3>
        <div class="text-p fs-5">Be a <b>Certified Voice Analysis Practitioner</b> and free the world of Sickness
          <br>
          Learning on How to <b>Unleash an Excellent Health </b>using a Mobile Phone App?
        </div>
        <img class="first-sec-img" src="../../assets/imgs/workShop_details.webp" alt="">
      </div>
    </div>
  </div>
</div>

<!-- WORKSHOP-D SECTION-2 ENDS -->

<!-- WORKSHOP-D SECTION-3 STARTS -->

<div class="about-section-5">
  <div class="container about-co-5">
    <div class="row about-ro-5">
      <div class="col-sm-12">
        <img src="../../assets/imgs/workshop-images/Rectangle 11.png" id="workshop-d-img-1" alt="" style="float: left;">
        <img src="../../assets/imgs/Ellipse 1.png" id="workshop-d-ellipse" alt="">
        <div class="text-p">
          <h2 class="purple-text">Facilitated by Dr Mahesh Hukmani
            Founder & CEO at Jv-scan Private Limited.
          </h2>
          Dr Mahesh Hukmani, an Eye Surgeon, who left his well settled professional career in pursuit of
          creating sickness freedom and succeeded in creating one after 14 Years of Genuine Research work
          to give to the World -A new, Home based, self Diagnosis tool using voice analysis with
          Artificial Intelligence.
          <br> <br>
          This Smart Health App follows W H O guidelines towards Secondary Disease Prevention and is
          therefore capable of detecting diseases in their Pre-illness Stages.
        </div>
      </div>
    </div>
  </div>
</div>


<!-- WORKSHOP-D SECTION-4 STARTS -->

<div class="workshop-d-section-4">
  <div class="container workshop-d-co-4">
    <h2 class="purple-text text-center mb-5">Topics to be covered in Workshop</h2>
    <div class="row workshop-d-ro-4 mb-5">
      <div class="col-sm-4 workshop-d-col-4">
        <div>
          <img src="../../assets/imgs/workshop-images/ic_baseline-health-and-safety.png" alt="">
        </div>
        <div class="text-center">
          <p class="black-p fw-bold">
            Digital Healthcare
            Industry
          </p>
          <p class="text-p">
            Learning about the latest Health care market trends and future trends to justify your decision towards
            taking up the workshop.
          </p>
        </div>
      </div>
      <div class="col-sm-4 workshop-d-col-4">
        <div>
          <img src="../../assets/imgs/workshop-images/ri_user-voice-fill.png" alt="">
        </div>
        <div class="text-center">
          <p class="black-p fw-bold">
            The Role of Voice Analysis as a New Diagnostic in Healthcare Paradigm
          </p>
          <p class="text-p">
            Learning about New age diagnosis tools and why Voice Analysis with AI Stands Apart from the rest?</p>
        </div>
      </div>
      <div class="col-sm-4 workshop-d-col-4">
        <div>
          <img src="../../assets/imgs/workshop-images/jam_first-aid-f.png" alt="">
        </div>
        <div class="text-center">
          <p class="black-p fw-bold">
            AI in Healthcare-Voice Analysis The Future of Medicine
          </p>
          <p class="text-p">
            Learning abut AI as a new Revolution in Health care Diagnosis and implementing AI in voice analysis for Mass
            Screening of Chronic Life Threatening Diseases.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="row workshop-d-ro-4 mt-5">
      <div class="col-sm-4 workshop-d-col-4">
        <div>
          <img src="../../assets/imgs/workshop-images/icon-park_market-analysis.png" alt="">
        </div>
        <div class="text-center">
          <p class="black-p fw-bold">
            Voice Analysis Parameters
          </p>
          <p class="text-p">
            Learn about various Biomarkers and Parameters required in Pre-illness Stage Assessment of various diseases
          </p>
        </div>
      </div>
      <div class="col-sm-4 workshop-d-col-4">
        <div>
          <img src="../../assets/imgs/workshop-images/ri_chat-voice-fill.png" alt="">
        </div>
        <div class="text-center">
          <p class="black-p fw-bold">
            Voice Analysis: Interpretation
          </p>
          <p class="text-p">
            Learn about Voice Analysis in details and prepare yourself to decode illnesses yourself using the knowledge
          </p>
        </div>
      </div>
      <div class="col-sm-4 workshop-d-col-4">
        <div>
          <img src="../../assets/imgs/workshop-images/game-icons_lightning-frequency.png" alt="">
        </div>
        <div class="text-center">
          <p class="black-p fw-bold">
            All About Body Frequencies
          </p>
          <p class="text-p">
            Learn about Various Body Frequencies and their associations in the Human Body towards making a full Health
            Reporting. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WORKSHOP-D SECTION-4 ENDS -->

<!-- WORKSHOP-D SECTION-5 STARTS -->

<div class="workshop-d-section-5 mt-5">
  <div class="workshop-d-co-5 container">
    <div class="row workshop-ro-5">
      <h2 class="purple-text mb-5 text-center">Voice Analysis Workshop details</h2>
      <div class="col-sm-12">
        <div class="card workshop-d-card">
          <h2 class="white-text">Topics</h2>
          <div class="row topic-ro">
            <div class="col-sm-6 topic-col">
              <ul>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Over view: Health care Industry </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Over view: Health care Industry Wellness: Facts n factual </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Wellness Vs Disease Prevention </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Why Disease Prevention? </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Modalities In Disease Prevention </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The W H O GUIDELINES </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The Role of Diagnostics </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Role of Artificial Intelligence in Health care </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Upcoming Modalities in Health care Diagnosis </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Modalities for mass Screening </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Introduction to voice Analysis </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Voice Analysis Some Facts </span>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 topic-col">
              <ul>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The Interpretation Of Human Voice </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Hands on case Studies</span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Training : How to Operate the App </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> How to Use Software </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Root Cause Analysis</span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Positive Traits</span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The Coping Up Mechanism </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The Chakra System in Voice Analysis</span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The five Elements in Voice Analysis</span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The Human Mind and Voice Analysis</span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> The Yin-Yang In Voice Interpretation </span>
                </li>
                <li> <img src="../../assets/imgs/workshop-images/subway_tick.png" class="tick" alt="">
                  <span> Various Health Scores: </span>
                </li>
                <div class="sub-list">
                  <ul style="list-style-type: none;">
                    <li><img src="../../assets/imgs/workshop-images/Ellipse 49.png" alt="">
                      <span> Mental Health Score </span>
                    </li>
                    <li><img src="../../assets/imgs/workshop-images/Ellipse 49.png" alt="">
                      <span> Physical Health Score </span>
                    </li>
                    <li><img src="../../assets/imgs/workshop-images/Ellipse 49.png" alt="">
                      <span> Blood Health Score </span>
                    </li>
                    <li><img src="../../assets/imgs/workshop-images/Ellipse 49.png" alt="">
                      <span> DNA Health Score </span>
                    </li>
                    <li><img src="../../assets/imgs/workshop-images/Ellipse 49.png" alt="">
                      <span> Overall Health Score </span>
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
          </div>
          <h2 class="white-text text-center mt-5">Join Our Online Course</h2>
          <div class="text-center mt-3 pb-3">
            <a href="https://jvscan0702.ongraphy.com/" class="btn purple-btn">Get yourself Registered Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WORKSHOP-D SECTION-5 ENDS -->


<!-- WORKSHOP-D SECTION-6 STARTS -->

<div class="workshop-d-section-6">
  <div class="container workshop-d-co-6">
    <div class="row workshop-d-ro-6">
      <div class="col-sm-12 workshop-d-col-6">
        <form [formGroup]="joinOnlineCourse" class="row g-3 workshop-form">
          <h3 class="black-text text-center mb-3">Join Our Online Course</h3>
          <div class="col-md-12">
            <input type="text" formControlName="name" class="form-control" id="inputfirst" placeholder="Name">
          </div>
          <div class="col-6">
            <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="col-md-6">
            <input type="text" formControlName="password" class="form-control" id="inputLast" placeholder="Password">
          </div>
          <div class="col-md-3">
            <input type="text" formControlName="country_code" class="form-control" id="inputCode" placeholder="Code">
          </div>
          <div class="col-md-9">
            <input type="text" formControlName="phone" class="form-control" id="inputNumber"
              placeholder="Mobile Number">
          </div>
          <div class="col-md-6">
            <select id="inputState" formControlName="course_level" class="form-select">
              <option disabled selected>Choose a Level</option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>
          <div class="col-md-6">
            <select id="inputState" formControlName="course_mode" class="form-select">
              <option disabled selected>Choose an Option</option>
              <option>remote</option>
              <option>physical</option>
            </select>
          </div>
          <div class="col-sm-12">
            <div class="form-check">
              <input class="form-check-input" formControlName="mustCheck" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                By signing up, I agree to the Terms and Conditions and Privacy Policy
              </label>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex mt-3 btns" style="justify-content: space-between;">
              <button type="button" class="fee-btn">Fee: $ 699 or ₹50,000</button>
              <span *ngIf="errorText" style="color: red;">{{ errorText }}</span>
              <span *ngIf="successMsg" style="color: green;">{{ successMsg }}</span>
              <button type="submit" class="btn btn-purple" (click)="onSubmit()">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- WORKSHOP-D SECTION-6 ENDS -->
