<div class="home-section-6">
  <div class="container sec-co-6">
    <h1 class="purple-text">Testimonials</h1>
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner d-flex">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-4 img-sec-6-box">
                <img src="../../../assets/imgs/T2.jpg" class="d-block img-sec-6-1" alt="..." height="200" width="200">
                <img src="../../../assets/imgs/Ellipse-1.webp" class="img-sec-6-2" alt="">
              </div>
              <div class="col-sm-8 mcb">
                <div class="content-sec-6-part">
                  <img src="../../../assets/imgs/“.png" alt="">
                  <p class="text-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat numquam
                    necessitatibus illo magnam a quas. Mollitia quia at nemo itaque neque facere accusamus ipsum
                    voluptatibus et odit, nobis dolorum.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <p class="purple-p">Ajeeta Singh</p>
                      <p class="text-p">Manager</p>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item {{i == 0? 'active': ''}}" *ngFor="let item of testimonials; let i = index">
            <div class="row">
              <div class="col-sm-4 img-sec-6-box">
                <img src="{{ apiUrl + item.Image }}" class="d-block img-sec-6-1" alt="..." height="200" width="200">
                <img src="../../../assets/imgs/Ellipse-1.webp" class="img-sec-6-2" alt="">
              </div>
              <div class="col-sm-8 mcb">
                <div class="content-sec-6-part">
                  <img src="../../../assets/imgs/“.png" alt="">
                  <p class="text-p">{{ item.Description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <p class="purple-p">{{ item.Name }}</p>
                      <p class="text-p">{{ item.Designation }}</p>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <button class="carousel-control-prev h-75" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <h1 class="carousel-control-prev-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
          </h1>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next h-75" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <h1 class="carousel-control-next-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </h1>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>