* {
  font-family: "Montserrat", sans-serif;
}

.grey-text {
  color: #483D53;
  font-size: 20px;
  font-weight: 700;
}

.add {
  color: #483D53;
  font-size: 16px;
  background: #E8E8E8;
  border-radius: 6px;
  border: none;
  width: fit-content;
  padding: 5px 20px;
  margin-bottom: 30px;
}

.small-p {
  font-size: 14px;
  color: #000;
}

form .ng-invalid.ng-touched,
form .ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 7%);
}

.btn-purple {
  background: #690661;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 13px;
  width: 20%;
  text-transform: uppercase;
  height: 40px;
  color: #ffffff;
  padding: 0 20px;
}

.text-p {
  color: #483d53;
  font-size: 15px;
  font-weight: 400;
}

.btn-purple:hover {
  color: #fff;
  transition: 0.2s;
  filter: none;
}

.btn-purple:focus {
  box-shadow: 0 0 0 0.25rem rgb(105 6 97 / 18%);
}

.personal-details-card {
  border: 1px solid #AFA4C6;
  border-radius: 8px;
  padding: 30px;
}

.personal-details-card .form-control {
  border-top: 0;
  border-bottom: 1px solid #483D53;
  color: #000;
  margin-bottom: 10px;
}

.personal-details-card svg {
  color: #690661;
  margin-bottom: 10px;
}


.edit-btn {
  background: transparent;
  border: none;
  color: #690661;
  font-size: 14px;
  font-weight: 600;
}

.edit {
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

.address-card {
  padding: 30px;
}

@media (max-width:768px) {
  .address-card {
    padding: 20px 10px;
  }
}

@media (max-width:765px) {
  .address-card {
    padding: 20px 10px;
  }

  .grey-text {
    font-size: 15px;
  }
}
