<!-- PRODUCT SECTION-1 STARTS -->

<div class="home-section-1">
    <div class="container home-sec-co-1">
        <div class="row">
            <div class="col-sm-2 img-sec-1">
                <div class="img-1">
                    <img src="../../assets/imgs/Frame.png" alt="" width="60%">
                    <img src="../../assets/imgs/Frame (1).png" alt="" class="right-image-1">
                </div>
            </div>
            <div class="col-sm-6 content-sec-1">
                <div class="content-part-1">
                    <h2 class="purple-text">
                        World's First ever Smart Health Diagnosis App In Just 30 seconds!!
                    </h2>
                    <button class="btn orange-btn">Get Started</button>
                </div>
            </div>
            <div class="col-sm-4 img-sec-2">
                <div class="img-2">
                    <img src="../../assets/imgs/Frame (3).png" alt="" class="left-image-2">
                    <img src="../../assets/imgs/Frame (2).png" alt="" class="right-image-2">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SECTION-1 ENDS -->

<!-- ABOUT-US SECTION-2 STARTS -->

<div class="about-section-2">
    <div class="container about-co-2">
        <div class="row about-ro-2">
            <div class="col-sm-6 about-col-2-1">
                <h2 class="purple-text">Become an Associate </h2>
                <p class="text-p">
                    <img src="../../assets/imgs/pexels-sinitta-leunen-11860376.jpg" alt="" class="square-img"
                        id="sec-2-hidden-img">
                    Founded in 2013, Jv-Scan is an AI-Based home based healthcare Diagnostic Tool that helps in
                    mapping the mental & physical health issues.
                    Jv-Scan has been Advocating Preventive Health care since 2008 and in process of providing
                    “disease-free life”, Dr. Mahesh Hukmani invented an AI-Backed Health-tech app that is utilized
                    as a New Diagnosis tool for Detecting Missing Frequencies in the Body that are responsible for
                    Creating Stress initially and Sickness Later.
                    The New Diagnosis tool Follows W H O Guidelines laid down in 1984 Geneva convention.
                </p>

            </div>
            <div class="col-sm-6 about-col-2-2">
                <img src="../../assets/imgs/pexels-sinitta-leunen-11860376.jpg" class="square-img" alt="">
            </div>
        </div>
    </div>
</div>

<!-- ABOUT-US SECTION-2 ENDS -->

<!-- WORKSHOP-D SECTION-6 STARTS -->

<div class="workshop-d-section-6">
    <div class="container workshop-d-co-6">
        <div class="row workshop-d-ro-6">
            <div class="col-sm-12 workshop-d-col-6">
                <form class="row g-3 workshop-form practitioner-form">
                    <h3 class="black-text text-center mb-3">Fill the form to Register</h3>
                    <div class="col-12">
                        <input type="text" class="mb-3 form-control" id="inputfirst"
                            placeholder="Full Name of the Doctor">
                    </div>
                    <div class="col-12">
                        <input type="text" class="mb-3 form-control" id="inputLast" placeholder="Name">
                    </div>
                    <div class="col-12">
                        <input type="text" class="mb-3 form-control" id="inputNumber" placeholder="Mobile Number">
                    </div>
                    <div class="col-12">
                        <input type="email" class="mb-3 form-control" id="inputCode" placeholder="Email">
                    </div>
                    <div class="col-12">
                        <div class="d-flex mt-3 btns" style="justify-content: space-between;">
                            <button type="button" class="fee-btn">Fee: ₹50,000</button>
                            <button type="submit" class="btn btn-purple"
                                style="background-color: #C408A2;">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- WORKSHOP-D SECTION-6 ENDS -->