<div class="cancellation-policy">
  <div class="container">
    <div class="heading">
      <h4 class="purple-text pb-3">
        Cancellation Policy
      </h4>
      <p>
        <b>Voice Analysis using Jv-Scan App</b> is a Self /Home base Diagnosing tool that follows all Guidelines laid
        Down by W H O as per the 1983 Geneva Convention.
        <br>
        <br>
        <b>Jvscan is a Health care/Wellness provider</b> and has designed its products and services in a way to suit all
        Pockets and segments of the society. The services we offer are <b>Digital Health, Home based, Preventive</b> in
        Nature. All services are available on line and the client never visits us in person and therefore there are
        <b>no appointments.</b>
        ​
      </p>
    </div>
    <div class="heading">
      <h4 class="purple-text">VOICE ANALYSIS AS A SERVICE AND AS A PRODUCT</h4>
      <p>
        <b>When you book Voice Analysis</b> as a Service to get a Ful Body reporting, you book your slot by paying on
        line and immediately record your voice samples through our Calibrated Application over <b>Google and IOS
          Stores</b>.
        <br>
        <br>
        When you decide to pay us for the service mentioned above you agree to all <b>our Terms and conditions</b> and
        enter into a Non verbal contract at the same time by agreeing to our Policies.
        <br>
        <br>
        Voice analysis is a Service to <b>detect your diseases in the pre illness</b> stages and with the AI Integrated
        Engine you get access to the Full Body Reporting at the click of a button immediately so as to view your Report
        on line and download it at the same time.
        <br>
        <br>
        <b>In instances where in the client is not satisfied</b> with the reporting after going through the
        recommendations to either visit labs or doctors and finds in some way that the reporting is not accurate as per
        his body condition, we will offer a Cancellation of his contract made with <b>Jvscan within 15 days</b> of
        his/he
        intimating us regarding the non satisfactory nature of the Business transaction with us and <b>provide a
          refund</b> to
        them after deducting Service charges/Handling fee etc.
      </p>
    </div>
    <div class="heading">
      <h4 class="purple-text pb-3">
        SOUND THERAPY AS A SERVICE AND AS A PRODUCT
      </h4>
      <p>
        When you book Sound therapy Sessions with Jvscan you book your slot by paying on line and immediately record
        your voice samples through our Calibrated Application over Google and IOS Stores.
        When you decide to pay us for the service mentioned above you agree to all our Terms and conditions and enter
        into a Non verbal contract at the same time by agreeing to our Policies.
        <br>
        <br>
        <b>All Sound Frequency</b> Programs are designed in a way so as to have a remarkable response which may be immediate in
        some cases and slow to show in other cases, as the subtle energies take some time to realign in the body. We
        will try our best to create the suitable design concepts for our clients.
        <br>
        <br>
        Sound Therapy Sessions you receive after the Voice clip recordings are meant to replenish your missing body
        frequencies as detected by voice analysis AI Integrated Engine. These sessions should be heard twice daily .
        <br>
        <br>
        <b>We offer 3 Sound therapy sessions</b> to our clients in 30 days time period, with voice recordings done each 11th
        day. There is a Validity time frame of 30 days only, that is all recordings should be done every 10th day and
        the protocol followed strictly for the best results.
        <br>
        <br>
        In case any client feels that he/she <b>has followed the protocol fully</b> and still has not got the results, we offer
        cancellation of the contract to the client with a refund after deducting service taxes and handling charges etc.
        <br>
        <br>
        <b>In case the client doesn’t follow the protocol</b> and is unable to record voice samples as per the schedule of
        10-11days each, and doesn’t listen to sound therapy sessions he/she loses the right to refund and Jvscan shall
        not provide any refunds to such clients.
        The timelines have been issued to maintain Discipline for therapy sessions other wise the client may not have
        the best results.
        <br>
        <br>
        <b>​If paid by credit card,</b> refunds will be issued to the original credit card provided at the time of purchase and
        in case of Payment Gateway Name payments refund will be made to the same account.
      </p>
    </div>
    <div class="heading">
      <h4 class="purple-text">DIGITAL HEALING PRODUCTS</h4>
      <p>
        These are <b>Issue based sound therapy</b> sessions and independent of any voice analysis done.
        <br>
        <br>
        When you buy our products/services, your purchase is covered by our 30-day money-back guarantee. If you are, for
        any reason, not entirely happy with your purchase, you can write back to us at <b>admin@jvscan.com</b> to cancel the
        contract and we will cheerfully issue a full refund after deducting service taxes and handling charges etc.
        <br>
        <br>
        We have thousands of satisfied customers worldwide, and our support is second to none. That is why we can afford
        to back our products with this special guarantee
        <br>
        <br>
        <b>To request a refund,</b> simply contact us with your purchase details within Thirty (30) days of your purchase.
        Please include your order number (sent to you via email after ordering) and optionally tell us why you’re
        requesting a refund – we take customer feedback very seriously and use it to constantly improve our products and
        quality of service.
        Refunds are not being provided for services delivered in full such as installation service and provided
        knowledge base hosting service. Refunds are being processed within 30 days
      </p>
    </div>
  </div>
</div>
