<div class="privacy-policy">
  <div class="container">
    <div class="heading">
      <h2 class="purple-text pb-3">Privacy Policy</h2>
      <p>We do not collect personal information for any purpose other than to respond to you (for example, to respond to
        your queries ). If you choose to provide us with personal information like filling out a Contact Us form with an
        e-mail address or postal address, and submitting it to us through the website, we use that information to
        respond to your message, and to help you get the information you have requested. Our website never collects
        information or creates individual profiles for commercial marketing. While you must provide an e-mail address
        for a localised response to any incoming questions or comments to us, we recommend that you do NOT include any
        other personal information.</p>
    </div>
    <div class="heading">
      <h4 class="purple-text" style="font-size: 20px; padding-bottom: 30px;">COOKIES</h4>
      <p>As is standard practice on many corporate websites, www.jvscan.com,uses cookies and other technologies to help
        us understand which parts of our websites are the most popular, where our visitors are going, and how much time
        they spend there. We use cookies and other technologies to study traffic patterns on our website, to make it
        even more rewarding as well as to study the effectiveness of our customer communications. And we use cookies to
        customize your experience and provide greater convenience each time you interact with us.
      </p>
    </div>
    <div class="heading">
      <h4 class="purple-text" style="font-size: 20px; padding-bottom: 30px;">FORM DATA</h4>
      <p>Our website(s) contain on-line forms which enable you to submit inquiries for products or services. All data
        collected through forms by <b>Jv-Scan Private Ltd</b> is used only for the purpose for which it was supplied.
      </p>
    </div>
    <div class="heading">
      <h4 class="purple-text" style="font-size: 20px;; padding-bottom: 30px;">INFORMATION DISCLOSURE</h4>
      <p>Jv-Scan Private Ltd will not disclose any information obtained through our website to any third party without
        your express consent. we will have a record of your email address if you have sent us an email or submitted an
        enquiry. We don’t add your email address to a mailing list and we will not send you unsolicited email (SPAM).
      </p>
      <br>
      <p>Jv-Scan Private Ltd will use your email address to respond to your requests and communicate directly with you.
      </p>
      <br>
      <p>
        Jv-Scan Private Ltd does not provide facilities for the secure transmission of information across the Internet.
        Website users should be aware that there are inherent risks transmitting information across the Internet.
      </p>
    </div>
  </div>
</div>
