* {
  font-family: "Montserrat", sans-serif;
}



.purple-text {
  /* color: #BF089E; */
  background: linear-gradient(90deg, #C408A2 0%, #2D0235 71.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  font-size: 30px;
  font-weight: 800;
}


.checkout-section-1 {
  padding: 50px 0;
}

.btn-purple:focus {
  box-shadow: 0 0 0 0.25rem rgb(105 6 97 / 18%);
}

.checkout-ro-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-col-1 span {
  height: 50px;
  width: 50px;
  background: #fff;
  color: #690661;
  border: 3px solid #690661;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
}

.co-1 span {
  background: #690661;
  color: #fff;
}

.checkout-col-1 .d-flex {}

.checkout-col-1 .d-flex .purple-text {
  margin-bottom: 0;
}

.co-1 {
  width: 33%;
}

.co-2 {
  width: 33%;
  padding-left: 0.75rem;
}

.co-3 {
  padding-left: 0.75rem;
}



.co-1 .d-flex::after {
  content: '';
  background-image: url(../../assets/imgs/Line_17.png);
  width: 46%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
}

.co-2 .d-flex::after {
  content: '';
  background-image: url(../../assets/imgs/Line_17.png);
  width: 46%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
}





.back-btn {
  border: none;
  text-decoration: underline;
  color: #483D53;
  background: transparent;
  font-weight: 600;
  margin-right: 20px;
}

@media (min-width:1500px) {
  .co-1 .d-flex::after {
      width: 46%;
      margin-left: 20px;
  }

  .co-2 .d-flex::after {
      margin-left: 15px;
      padding-left: 0;
      width: 48%;
  }

  .checkout-co-2 {
      max-width: 1000px;
  }
}

@media (min-width:1200px) {
  .checkout-co-2 {
      max-width: 890px;
  }
}

@media (min-width: 992px) {
  .checkout-co-2 {
      max-width: 800px;
  }
}

@media (max-width:1115px) {
  .co-2 .d-flex::after {
      width: 33%;
      margin-left: 15px;
  }

  .co-1 .d-flex::after {
      width: 33%;
      margin-left: 15px;
  }

  .co-2 {
      padding-left: 0;
  }

  .checkout-col-1 span {
      height: 40px;
      width: 40px;
      font-size: 22px;
      margin-right: 5px;
  }
}

@media (max-width:992px) {
  .checkout-ro-1 .purple-text {
      font-size: 22px;
  }

  .co-1,
  .co-2 {
      width: 40%;
  }

  .co-1 {
      padding-right: 0.75rem;
  }

  .co-1 .d-flex::after {
      width: 45%;
  }

  .co-2 .d-flex::after {
      width: 45%;
  }
}

@media (max-width:768px) {
  .checkout-ro-1 .purple-text {
      font-size: 18px;
  }

  .po-img img {
      width: 100px;
  }

  .po-img {
      margin-bottom: 20px;
  }

  .co-2,
  .co-3 {
      padding-left: 5px;
  }

  .checkout-col-1 span {
      height: 30px;
      width: 30px;
      font-size: 18px;
  }

  .co-2 .d-flex::after {
      margin-left: 13px;
  }

}

@media (max-width:575px) {
  .co-1 {
      padding-right: 0;
  }

  .checkout-ro-1 .purple-text {
      font-size: 16px;
  }

  .checkout-col-1 span {
      height: 20px;
      width: 20px;
      font-size: 11px;
      border: 2px solid #690661;
  }
}

@media (max-width:500px) {
  .co-2 .d-flex::after {
      margin-left: 3px;
  }

  .co-1 .d-flex::after {
      margin-left: 3px;
  }
}

@media (max-width:415px) {
  .co-1 .d-flex::after {
      margin-left: -2px;
      height: 2px;
      position: absolute;
      left: 80%;
      top: 50%;
      transform: translate(-50%, -100%);
      width: 35%;
  }

  .co-1 .d-flex,
  .co-2 .d-flex {
      position: relative;
  }

  .checkout-ro-1 .purple-text {
      font-size: 13px;
  }

  .checkout-col-1 span {
      margin-right: 2px;
  }

  .co-2 .d-flex::after {
      margin-left: -2px;
      height: 2px;
      position: absolute;
      left: 80%;
      top: 50%;
      transform: translate(-50%, -100%);
      width: 35%;
  }
}

@media (max-width:380px) {
  .co-2 .d-flex::after {
      margin-left: 9px;
      width: 25%;
  }

  .co-1 .d-flex::after {
      margin-left: 5px;
      width: 25%;
  }

  .checkout-co-1 {
      padding-left: 2px;
      padding-right: 2px;
  }
}

/* CHECKOUT SECTION ENDS */





/* checkout-section-1 */
/* checkout-co-1 */
/* checkout-ro-1 */
/* checkout-col-1 */
/* co-1 */
/* d-flex */
/* purple-text */
/* co-2 */
/* co-3 */
