
 <!-- CHECKOUT SECTION-1 STARTS -->

 <div class="checkout-section-1">
  <div class="container checkout-co-1">
      <div class="checkout-ro-1">
          <div class="checkout-col-1 co-1">
              <div class="d-flex">
                  <span #firstCircle>1</span>
                  <h2 class="purple-text">Delivery <br> Address</h2>
              </div>
          </div>
          <div class="checkout-col-1 co-2">
              <div class="d-flex">
                  <span #secondCircle>2</span>
                  <h2 class="purple-text">Payment <br> Method</h2>
              </div>
          </div>

          <div class="checkout-col-1 co-3">
              <div class="d-flex">
                  <span #thirdCircle>3</span>
                  <h2 class="purple-text">Place <br> Order</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- CHECKOUT SECTION-1 ENDS -->
<router-outlet></router-outlet>
