<div class="partner-section">
    <div class="container">
        <div class="row partner-ro-1">
            <h1 class="purple-text text-center mb-3">PARTNER WITH US </h1>
            <div class="col-sm-6">
                <div class="partner-col-1 text-center">
                    <img src="../../../assets/imgs/pricing-images/PARTNER.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 partner-col-2">
                <div>
                    <p class="text-p">
                        <b>When you Partner with Jv-Scan</b>, you get hold of the World’s 1st Home Based AI integrated
                        -Diagnostic Service for Early and Accurate Diagnosis @ Full Body Scan sitting at Home.

                        <br>

                        At present there are only 4 companies who are working on it and still in the research model.
                        <b>Our
                            breakthrough in the field of Voice Analysis is the most successful</b> & reliable medium
                        that
                        detects Diseases in the <b>pre-illness stages: In the Stage of Mind.</b>

                        <br>

                        By joining our affiliation program, you will be heavily incentivized and your clients will be
                        thrilled with the idea of the 99% accuracy that comes with Voice Analysis.
                    </p>
                </div>
            </div>
            <p class="text-p"> Our conversion rates are high due to the fact that the product is not hazardous, it only
                requires a phone, one can record and view the report online.
            </p>
        </div>
        <div class="row partner-ro-2">
            <h1 class="purple-text text-center mb-4">THE SCOPE OF ALLIANCE</h1>
            <div class="col-sm-4">
                <div class="partner-col-2-1">
                    <img src="../../../assets/imgs/pricing-images/Jv-scan Practitioner.webp" alt="">
                    <p class="d-grey">BE A PRACTITIONER</p>
                    <div class="partner-card">
                        <p class="d-black">The Practitioner Module</p>
                        <ul>
                            <li class="text-p">
                                <b>Doctors /Healing Practitioners</b> can apply
                            </li>
                            <li class="text-p">
                                <b>Advanced Mentorship & Training</b> will be Provided
                            </li>
                            <li class="text-p">
                                <b>License Fee:</b> Rs 50,000/-
                            </li>
                            <li class="text-p">
                                <b>Pan Global: </b>Yes
                            </li>
                            <li class="text-p">
                                <b>Validity:</b> One time
                            </li>
                            <li class="text-p">
                                <b>Admin Login</b> Access will be given
                            </li>
                            <li class="text-p">
                                <b>Practitioner Royalty : </b>80% of all Sales
                            </li>
                            <li class="text-p">
                                <b>Creating More Practitioners :</b> One time Incentive of <b>10%</b>
                            </li>
                            <li class="text-p">
                                <b>Creating More Associates :</b> One time Incentive of 10%
                            </li>
                            <li class="text-p">
                                <b>Creating More affiliates: </b>Not Applicable
                            </li>
                            <li class="text-p">
                                <b>10% Incentive</b> of all Sales on Organizing Workshops in your Location
                            </li>
                        </ul>

                    </div>
                    <button class="btn btn-purple mt-3" routerLink="/contact-us">Express Your Interest</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="partner-col-2-1">
                    <img src="../../../assets/imgs/pricing-images/associates.webp" alt="">
                    <p class="d-grey">BE OUR ASSOCIATE</p>
                    <div class="partner-card">
                        <p class="d-black">The Associate Module</p>
                        <ul>
                            <li class="text-p">
                                <b>Sales & Marketing </b>Professionals can apply
                            </li>
                            <li class="text-p">
                                <b>Basic Functionality :</b> Brand Sales
                            </li>
                            <li class="text-p">
                                <b>Admin Login Access :</b> No
                            </li>
                            <li class="text-p">
                                <b>Pan Global: </b>No
                            </li>
                            <li class="text-p">
                                <b>Basic Mentorship</b> & Training will be Provided
                            </li>
                            <li class="text-p">
                                <b>No License fee </b>to Operate
                            </li>
                            <li class="text-p">
                                <b>Associate Royalty : 20% of all Sales</b>
                            </li>
                            <li class="text-p">
                                <b>Creating More Practitioners :</b> One time Incentive of <b>10%</b>
                            </li>
                            <li class="text-p">
                                <b>Creating More Associates : </b>One time Incentive of <b>10%</b>
                            </li>
                            <li class="text-p">
                                <b>Creating More Affiliates :</b>One time Incentive of <b>10%</b>
                            </li>
                            <li class="text-p">
                                <b>10%</b> Incentive of all Sales on Organizing Workshops in your Location
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-purple mt-3" routerLink="/contact-us">Express Your Interest</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="partner-col-2-1">
                    <img src="../../../assets/imgs/pricing-images/Affiliate.webp" alt="">
                    <p class="d-grey">BE OUR AFFILIATE</p>
                    <div class="partner-card">
                        <p class="d-black">The Affiliate Module</p>
                        <ul>
                            <li class="text-p">
                                <b>Sales and Marketing </b>professional can apply
                            </li>
                            <li class="text-p">
                                <b>Basic Functionality : </b>Brand Sales Via
                            </li>
                            <li class="text-p">
                                <b>Doctors/Health Practitioners</b>
                            </li>
                            <li class="text-p">
                                <b>No Admin Login </b>Access will be given
                            </li>
                            <li class="text-p">
                                <b>Basic Mentorship </b>&Training will be Provided
                            </li>
                            <li class="text-p">
                                <b>No License fee </b>to Operate
                            </li>
                            <li class="text-p">
                                <b>Affiliate Royalty : </b>10% of all Sales
                            </li>
                            <li class="text-p">
                                <b>Creating More Practitioners : </b>One time Incentive of 10%
                            </li>
                            <li class="text-p">
                                <b>Creating More Associates : </b>One time Incentive of 10%
                            </li>
                            <li class="text-p">
                                <b>Creating More Affiliates : </b>One time Incentive of 10%
                            </li>
                            <li class="text-p">
                                <b>10% Incentive of </b>all Sales on Organizing Workshops in your Location
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-purple mt-3" routerLink="/contact-us">Express Your Interest</button>
                </div>
            </div>
        </div>
    </div>
</div>
