<div class="disclaimer">
  <div class="container">
    <div class="heading">
      <h4 class="purple-text pb-3">
        Disclaimer
      </h4>
      <p>It is advisable to go through the disclaimer carefully before searching anything in the website.
        Please be aware that Healing (distant or otherwise) does not take the place of conventional medicine, nor does
        it replace the advice of a qualified medical practitioner. Always consult a GP for an acute or infectious
        condition, and problems of an urgent nature. Continue with your prescribed medication.
        Neither the Founder<b> Dr Maheish Hukmani</b>,<b> nor JV-SCAN PRIVATE LTD</b> make any representations,
        warranties or implications regarding the accuracy or validity of any information contained herein.
        ​</p>
    </div>
    <div class="heading">
      <p><b>Jupiter Voice Scan & Healing Code Therapy</b> is still in the early stages of development, and these
        concepts are
        understood to the degree that research studies and limited application can provide. Jupiter Voice Scan & Healing
        Code Therapy nor do they cure or heal diseases of the body.
        <br>
        <br>
        These concepts are provided within the framework of ongoing research to promote professional discussion and
        advancement of sound therapy towards a science
        <br>
        <br>
        <b>Healing Code Therapy/ Frequency Therapy</b>, as referenced in this summary can be described as a mix of
        harmonics
        theory, musical therapy and biofeedback. Healing Code Therapy/ Frequency Therapy is directly related to
        harmonics and music by the use of combinations of sounds (frequencies), but it definitely is not music by any
        current standard
        <br>
        <br>
        <b>Healing Code Therapy/ Frequency Therapy</b>, can be described as a non invasive, energy based alternative
        health
        approach to wellness. Jv-Scan OPC Private Ltd and any of its products do not cure, or treat disease.
        <br>
        <br>
        If you have a medical condition or concern, please consult an appropriate health care professional.
      </p>
    </div>
    <div class="heading">
      <h4 class="purple-text pb-3" style="font-size: 20px;">FREQUENCY-BASED TREATMENT IS APPROVED BY THE US
        ADMINISTRATION FOR RELIEF OF CHRONIC AND
        ACUTE PAIN</h4>
      <p>
        <b>All HCT programs</b> operate in frequency ranges similar to the approved models.
        <br>
        <br>
        We can legally say the treatments do provide relaxation and stress relief, which has been shown to be a
        contributor to most issues emotionally and physically. There is ample research showing the effectiveness of the
        techniques and we have quoted them where appropriate.
        <br>
        <br>
        The content available on the website is for general information and interest only and we do not warrant or
        guarantee accuracy or completeness. It is your responsibility to judge the accuracy or completeness of the
        content before relying on it in any way.
        <br>
        <br>
        Your use of the content (for whatever purpose) is at your sole risk. If you have any comments or complaints
        about the website, please get in touch with us at voicescan@yahoo.com
        <br>
        <br>
        The content is protected by copyright, trademark and other intellectual property rights, as applicable, and is
        provided solely for your own use. Republication or redistribution of any of the content available on the
        website, including by framing or similar means, is prohibited.
        <br>
        <br>
        We exclude all liability of any kind (including negligence) in respect of any third party information or other
        material made available on, or which can be accessed using the website.
        <br>
        <br>
        You are solely responsible for evaluating any goods (including software) or services offered by third parties
        via the website or on the Internet. We will not be a party to, or in any way responsible for any transactions
        between you and third parties. Any personal information you may wish to disclose to third parties is at your own
        risk.
        <br>
        <br>
        Healing is a complementary therapy that works effectively alongside orthodox/conventional healthcare, thus
        expanding your treatment options. Moreover we reserve all the rights to modify, delete and add the clauses of
        disclaimer anytime.
        <br>
        <br>
        If you are not the intended recipient, any use, reliance, dissemination, disclosure, or copying of the content
        of any part of this website or attached files is unauthorized.
        <br>
        <br>
        ​While all efforts have been taken to make the website as authentic as possible, any kind of discrepancy may be
        brought to the notice of “JV-SCAN PRIVATE LTD” at admin@jvscan.com
      </p>
    </div>
  </div>
</div>
